<header class="header header-bg-white" id="header">
    <div class="inner">
        <div class="section_gnb">
            <h1 class="logo"><a href="#">마크로젠 로고</a></h1>
            <nav>
                <ul id="gnb">
                    <li><span class="font-bold">macrogen</span></li> <!-- active 시, 활성화 -->
                    <li><span class="font-bold">business</span></li>
                    <li><span class="font-bold">r&#38;d</span></li>
                    <li><span class="font-bold">newsroom</span></li>
                    <li><span class="font-bold">ir</span></li>
                    <li><span class="font-bold">esg</span></li>
                </ul>
            </nav>
        </div>
        <div class="section_btn">
            <ul class="sns">
                <li><a href="#"><i class="icon icon-facebook-circle"></i></a></li>
                <li><a href="#"><i class="icon icon-youtube-circle"></i></a></li>
                <li><a href="#"><i class="icon icon-blog-circle"></i></a></li>
                <li><a href="#"><i class="icon icon-linkedin-circle"></i></a></li>
            </ul>
            <div class="btn_eng">
                <a href="#" class="btn btn-round"><i class="icon icon-earth-black"></i><span>ENG</span></a>
            </div>
        </div>
    </div>
    <div class="gnb-2depth" id="gnb2Depth">
        <!--Macrogen-->
        <div class="box clearfix">
            <div class="item">
                <div class="title"><a href="#">Company</a></div>
                <ul>
                    <li><a href="#">About MACROGEN</a></li>
                    <li><a href="#">Executive Leadership </a></li>
                    <li><a href="#">History</a></li>
                    <li><a href="#">Vision</a></li>
                    <li><a href="#">Certification & Accreditation</a></li>
                </ul>
            </div>
            <div class="item">
                <div class="title"><a href="#">Global Network</a></div>
            </div>
            <!--영문버전 제공 X-->
            <!--  <div class="item">
                  <div class="title"><a href="#">채용</a></div>
                  <ul>
                      <li><a href="#">인재상</a></li>
                      <li><a href="#">인사제도</a></li>
                      <li><a href="#">채용안내</a></li>
                  </ul>
              </div>-->
        </div>
        <!--Business-->
        <div class="box clearfix">
            <div class="item">
                <div class="title"><a href="#">Research</a></div>
                <ul>
                    <li><a href="#">NGS</a></li>
                    <li><a href="#">CES</a></li>
                    <li><a href="#">Gene Sythesis</a></li>
                    <li><a href="#">Oligo</a></li>
                    <li><a href="#">Microarray</a></li>
                    <li><a href="#">GEM</a></li>
                </ul>
            </div>
            <div class="item">
                <div class="title"><a href="#">Clinical Diagnostics</a></div>
                <ul>
                    <li><a href="#">Cancer Genome Testing</a></li>
                    <li><a href="#">Genetic Disorder</a></li>
                    <li><a href="#">COVID-19</a></li>
                </ul>
            </div>
            <div class="item">
                <div class="title"><a href="#">Heathcare</a></div>
                <ul>
                    <li><a href="#">Personal Genome Analysis</a></li>
                    <li><a href="#">Microbiome Analysis</a></li>
                    <li><a href="#">Companion animal gene analysis</a></li>
                </ul>
            </div>
        </div>
        <!--R&D-->
        <div class="box clearfix">
            <div class="item">
                <div class="title"><a href="#">Precision Medicine Institute</a></div>
            </div>
            <div class="item">
                <div class="title"><a href="#">Bioinformatics Institute</a></div>
            </div>
            <div class="item">
                <div class="title"><a href="#">The Biome Institute </a></div>
            </div>
            <div class="item">
                <div class="title"><a href="#">SyncGenes Institute</a></div>
            </div>
            <div class="item">
                <div class="title"><a href="#">Big Data Institute for Health</a></div>
            </div>
            <div class="item">
                <div class="title"><a href="#">Patents/Papers</a></div>
                <ul>
                    <li><a href="#">Patents</a></li>
                    <li><a href="#">Papers</a></li>
                </ul>
            </div>
        </div>
        <!--Newsroom-->
        <div class="box clearfix">
            <div class="item">
                <div class="title"><a href="#">News</a></div>
            </div>
            <div class="item">
                <div class="title"><a href="#">Media library</a></div>
            </div>
            <div class="item">
                <div class="title"><a href="#">Notice</a></div>
            </div>
        </div>
        <!--IR-->
        <div class="box clearfix">
            <div class="item">
                <div class="title"><a href="#">Financial Information</a></div>
            </div>
            <!--영문버전 제공 X-->
            <!--   <div class="item">
                   <div class="title"><a href="#">공시정보</a></div>
                   <ul>
                       <li><a href="#">공고</a></li>
                       <li><a href="#">공시정보</a></li>
                   </ul>
               </div>
               <div class="item">
                   <div class="title"><a href="#">IR소식</a></div>
               </div>-->
            <div class="item">
                <div class="title"><a href="#">Investment Inquiries</a></div>
            </div>
        </div>
        <!--ESG-->
        <div class="box clearfix">
            <div class="item">
                <div class="title"><a href="#">ESG Management</a></div>
            </div>
            <div class="item">
                <div class="title"><a href="#">Ethical Management</a></div>
            </div>
            <div class="item">
                <div class="title"><a href="#">Social Responsibility</a></div>
            </div>
        </div>
    </div>
</header>
<script>
    var gnb2depth = $('#gnb2Depth .box')
    let gnbIndex = $('#gnb li')

    $('#gnb li').mouseover(function () {
        $(this).parents('#header').addClass('header-bg-white')
        gnbIndex.removeClass('active');
        $(this).addClass('active');
        gnb2depth.removeClass('active');
        let idx = $(this).index();
        gnb2depth.eq(idx).addClass('active');
        $('#gnb2Depth').css('border-bottom','1px solid #e9e9e9').css('border-top','1px solid #e9e9e9')
    });

    gnb2depth.mouseover(function () {
        gnbIndex.removeClass('active');
        let idx = $(this).index();
        gnbIndex.eq(idx).addClass('active');

    });

    $('#header').on({
        "mouseleave focusout" : function () {
            gnb2depth.removeClass('active')
            gnbIndex.removeClass('active')
            $('#gnb2Depth').css('border','none')
        }
    })
</script>
