<footer class="footer" data-aos="fade-up" data-aos-duration="1000">
    <div class="inner clearfix">
        <div class="section_copy">
            <div class="text font-bold">
                <p>humanizing<br>genomics</p>
            </div>
            <div class="copyright font-medium">
                <p>ⓒMacrogen, Inc.<br>All Rights Reserved.</p>
            </div>
            <ul class="sns">
                <ul class="sns">
                    <li><a href="#"><i class="icon icon-facebook-square"></i></a></li>
                    <li><a href="#"><i class="icon icon-youtube-square"></i></a></li>
                    <li><a href="#"><i class="icon icon-blog-square"></i></a></li>
                    <li><a href="#"><i class="icon icon-linkedin-square"></i></a></li>
                </ul>
            </ul>
        </div>
        <div class="section_information">
            <div class="info">
                <div class="box">
                    <p class="font-bold title">MACROGEN</p>
                    <ul class="text">
                      <li>서울특별시 강남구 역삼2동 테헤란로 238 마크로젠빌딩</li>
                      <li><span><span class="font-bold">대표이사</span> : 이수강</span><span><span class="font-bold">사업자등록번호</span> : 208-81-24115</span></li>
                      <li><span><span class="font-bold">Tel</span> : 02-2180-7000</span><span><span class="font-bold">Fax</span> : 02-2180-7100</span></li>
                      <li><span><span class="font-bold">E-mail</span> : webmaster@macrogen.com</span></li>
                    </ul>
                </div>
                <div class="box">
                    <p class="font-bold title">FAMILY SITE</p>
                    <ul class="text">
                        <li><span>더 바이옴</span><span>마이지놈스토리</span><span>마이펫진</span></li>
                        <li><span>소마젠(Psomagen)</span><span>마크로젠 일본</span><span>마크로젠 싱가포르</span></li>
                        <li><span>유전체의학연구소</span><span>공우생명정보재단</span></li>
                        <li><span>Order site</span></li>
                    </ul>
                </div>
            </div>
            <div class="link">
                <ul class="terms">
                    <li><span class="font-medium">개인정보취급방침</span></li>
                    <li><span class="font-medium">영상정보처리기기 운영.관리방침</span></li>
                    <li><span class="font-medium">내부정보관리규정</span></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
