<nav class="nav-tab-wrap">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-all-tab" data-bs-toggle="tab" data-bs-target="#nav-all"
                type="button" role="tab" aria-controls="nav-all" aria-selected="true">전체
        </button>
        <button class="nav-link" id="nav-media-tab" data-bs-toggle="tab" data-bs-target="#nav-media"
                type="button" role="tab" aria-controls="nav-media" aria-selected="false">미디어
        </button>
        <button class="nav-link" id="nav-video-tab" data-bs-toggle="tab" data-bs-target="#nav-video"
                type="button" role="tab" aria-controls="nav-video" aria-selected="false">영상
        </button>
    </div>
</nav>
