/*
|----------------------------------|
 v.0.1 (태윤) 최초 작업 -- 2021.09.02
|----------------------------------|
*/

.business_bg{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("../img/@temp/business/buginess_bg.svg");
  .btn{
    
  }
}

