/*
|----------------------------------|
 v.0.1 (선미) 최초 작업 -- 2021.08.31
|----------------------------------|
*/
.section_IR {
  .subtitle{
    display: flex;
    justify-content: space-between;
    .text-unit{
      font-size: 14px;
    }
  }

}
