/*
|----------------------------------|
 v.0.1 (선미) 최초 작업 -- 2021.08.31
|----------------------------------|
*/
.section_IR {
  /*재무정보*/
  .financial_box{
    margin-bottom: 99px;
    &:last-of-type{
      margin-bottom: 0;
    }
    .subtitle{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 29px;
      .text-unit{
        font-size: 14px;
        color:#707070;
      }
    }

    .table{
      &.table-rotate{
        width: 100%;
        tr{
          display: inline-block;
          width: 25%;
          &:first-of-type{
            th,td{
              padding-left: 60px;
            }
          }
          &:last-of-type{
            th,td{
              padding-right: 60px;
            }
          }
          th{
            height: 100px;
            display: flex;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            padding: 20px 30px;
            border-bottom: 1px solid #d9d9d9;
            border-spacing: 0;
            border-right: 1px solid #f7f7f7;
            background-color: #f7f7f7!important;
            &:last-of-type{
              border-right: none;
            }
          }
          td{
            display: block;
            border-bottom: 1px solid #D9D9D9;
            padding: 25px 30px 24px;
            border-spacing: 0;
          &.table-bg{
            background-color: #f5f8fb!important;
              font-weight: bold;
              color:#000000;
            }
          }
          .font-medium{
            font-weight: 500;
            color:#454545;
          }
        }
      }
    }
  }
  .update_text{
    font-weight: 500;
    color:#909090;
    text-align: right;
    padding-top: 9px;
  }


  /*투자자문의*/
  .question_box{
    margin-bottom: 120px;
    .text-area{
      position: relative;
      width: $min-width;
      margin:0 auto 80px;
      .font-h4{
        line-height: 64px;
        letter-spacing: -3px;
        margin-bottom: 58px;
      }
      .number{
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.25px;
      }
      .btn{
        border:2px solid #000000;
        position: absolute;
        right: 0;
        bottom: 0;
        span{
          margin-right: 30px;
        }
      }

    }
    .img-area{
      background: url('../img/IR/img-handshake.svg') no-repeat center center / cover;
      height: 560px;
    }

  }
  .privacy_box{
    margin:0 auto;
    width: $min-width;
    .font-h5{
      margin-bottom: 60px;
      line-height: 52px;
      span{
        font-size: 44px;
        margin-right: 3px;
        line-height: 1;
      }
    }
    .input-phone-box{
      .notice-text{
        padding-left: 214px;
        padding-top: 25px;
        span{
          vertical-align: text-bottom;
          padding-left: 7px;
          font-weight: 500;
          color: #909090;
          font-size: 18px;
          line-height: 20px;
        }
      }
    }
    .file-box{
      background-color: #f7f7f7;
    }
    .agreement{
      padding: 40px 40px 32px;
      background-color: #e7e7e7;
      margin-bottom: 20px;
      p{
        line-height: 30px;
        color:#454545;
        margin-bottom: 5px;
        &.guidance{
          padding-top: 18px;
          font-size: 18px;
          color:#909090;
        }
      }
    }
    .divider{
      margin: 102px 0;
    }
  }
  /*버튼 여백*/
  .btn-box{
    padding-top: 140px;
  }
}
