<div class="subject-box">
  <p class="title font-h4">We provide a superior quality of CES (Capillary Electrophoresis Sequencing) services, based on extensive experience and expertise accumulated over 20 years
  </p>
  <p class="subject">Capillary Electrophoresis Sequencing (CES) is a service that analyzes DNA sequences using a biochemical method.</p>
  <!--10.05 이미지 경로 변경-->
  <div class="img">
    <img src="../../img/business/img-ces-intro.png" alt="CESIntro">
  </div>
  <p class="desc">Our service maximizes customer satisfaction through a variety of product lines ranging from the most common services such as Standard Sequencing, Identification, Fragment Analysis, and Customized Sequencing Service, which is a renewed service from the original sequencing. Aside from general sequencing services, Macrogen’s CES service provides additional customized services (gDNA extraction, primer synthesis, PCR amplification, and purification) according to customer requests. A separate online order system is also available for customers’ convenience so that they can request a desired service. Monitoring of all processes and follow-up for the results are provided for each ordered sample.
  </p>
</div>
