<div class="subject-box">
    <p class="title font-h4">Superior NGS service with a high level of precision and speed<br/>based on world-class analytical infrastructure
    </p>
    <p class="subject">NGS (Next Generation Sequencing) is a method for reading a genome by dividing it into many pieces,
        assembling the obtained sequence pieces and analyzing the sequence of the entire  genome. </p>
    <!--10.05 이미지 경로 변경-->
    <div class="img">
        <img src="../../img/business/img-ngs-intro.png" alt="NgsIntro">
    </div>
    <p class="desc">
        Macrogen is a global leader in precision medicine that is capable of predicting and diagnosing diseases through NGS information-based R&D and collaboration
        with medical institutions, presenting personalized treatment plans according to genetic characteristics.
        There has been rapid progress in technologies related to NGS since its commercialization in 2000, which has produced a large volume of genome information
        for use in research. Especially since the cost and time for genome analysis gradually decreased, the demand for genome analysis for living organisms including
        humans has rapidly increased  and became available to use in various research. Recently, mostly in the medical field, clinical studies based on NGS are
        actively conducted and many studies are in progress to identify genetic variance and the functions of new genes. This is expected to speed up the realization
        of precision medicine that can provide treatments optimized for individual patients based on their genome.<br/><br/>

        Macrogen produces a large amount of genome information every year using various kinds of equipment, provides quicker and more accurate genome analysis service
        at an economical price to assist in studies conducted by researchers, and offers a diagnostic service to the public. We provide genome analysis services suitable
        for research, such as whole genome, exome, transcriptome, epigenome, metagenome, and single cell multi-omics sequencing and bioinformatics results based on the data.
        Offering a total genomic solution to researchers all over the world based on our extensive experiences and know-how accumulated over the years,
        Macrogen leads the field of precision medicine by utilizing NGS technology  </p>
</div>
