/*
|------------------------------------|
 v.0.1 주연 : 최초 작업 -- 2021.11.19
|------------------------------------|
*/
.accordion-container {
  .accordion-item {
    position: relative;
    width: 100%;
    background-color: $white;
    border-bottom: 0;

    &:first-of-type {
      border-radius: 0;
    }

    &:last-of-type {
      border-radius: 0;
    }

    .accordion-button {
      position: relative;
      display: block;
      padding: 15px 62px 15px 24px;
      color: $gray-000000;
      font-family: $font-family-bold;
      font-weight: bold;
      font-size: 18px;
      line-height: 34px;
      letter-spacing: -0.5px;
      background-color: #fff;
      box-shadow: none;
      border-bottom: 1px solid $disabled-d9d9d9;
      transition: none;

      &::after {
        content: '';
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
        transition: .5s;
        @include background-img($width: 14px, $height: 8px, $category: 'common', $img: 'ic-arrow-up.svg');
      }

      &:focus {
        box-shadow: none;
      }

      &.active {
        border-bottom: 1px solid transparent;

        &::after {
          transform: translateY(-50%) rotate(0);
        }
      }
    }

    .accordion-content {
      background-color: #fff;
      display: none;
      padding: 0 24px 24px;
      border-bottom: 1px solid $disabled-d9d9d9;

      .list {
        li {
          position: relative;
          font-size: 16px;
          line-height: 32px;
          letter-spacing: -0.5px;
          color: #454545;
          padding-left: 15px;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 13px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $gray-000000;
          }
        }
      }
    }
  }
}
