/*
|----------------------------------|
 v.0.1 주연 : 최초 작업 -- 2021.11.5
|----------------------------------|
*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  font-size: 18px;
  color: $gray-d9d9d9;
  font-weight: bold;
}

textarea::placeholder {
  color: $gray-d9d9d9;
}

.form-check {
  min-height: 26px;
  padding-left: 0;
  margin-bottom: 0;

  .form-check-input {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 26px;
    margin: 3px 8px 0 0;
    border-radius: 0;
    border: 2px solid $line-d9d9d9;
    background-image: url(../../dist/img/common/ico-check-nor.png);
    background-size: 16px 12px;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:checked {
      border: 2px solid $point-primary;
      background-color: $point-primary;
      background-image: url(../../dist/img/common/ico-check-checked.png);

      + .form-check-label {
        color: $gray-000000;
      }
    }
  }

  .form-check-label {
    vertical-align: middle;
    line-height: 26px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -0.5px;
    color: $gray-909090;
  }
}

.label {
  font-family: $font-family-bold;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: $gray-000000;
  margin-bottom: 8px;
}

.input-group {
  flex-direction: column;
  margin-bottom: 40px;

  .input-group-text {
    width: 174px;
    height: 60px;
    border: 0;
    background-color: transparent;
    padding: 0;
    margin-right: 40px;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -0.75px;
  }

  &.input-group-phone {
    flex-direction: row;

    .dropdown, .form-control {
      width: calc(33.33333% - 8px);
      margin-bottom: 0;
      margin-top: 0 !important;
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .form-control {
    width: 100%;
    height: 60px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid $gray-000000;
    padding: 0;
    border-radius: 0;
    font-size: 18px;
    letter-spacing: -0.5px;
    color: $gray-454545;

    &::placeholder {
      color: $disabled-d9d9d9;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }

    + .form-control {
      margin-top: 8px;
    }

    &.form-control-file {
      opacity: 1;
      filter: alpha(opacity=0);
      -ms-filter: alpha(opacity=0);
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: $gray-000000;
      }
    }
  }

  .btn-add-file {
    width: 157px;
    min-width: 157px;
    height: 60px;
    border: 1px solid #cccccc;
    border-radius: 5px !important;
    padding: 0;
    margin-right: 14px;
  }

  textarea.form-control {
    padding: 24px;
    width: 100%;
    min-height: 320px;
    border: 1px solid $gray-000000;
    resize: none;
    line-height: 34px;

    &:disabled {
      border: 1px solid $line-e9e9e9;
      background-color: $bg-f7f7f7;
      color: $gray-909090;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.input-tip {
  position: relative;
  padding-left: 28px;
  margin-top: -24px;
  margin-bottom: 40px;

  .icon {
    position: absolute;
    left: 0;
    top: 7px;
  }

  span {
    display: inline-block;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: #909090;
  }
}

.input-search {
  position: relative;

  .form-control {
    height: 60px;
    line-height: 58px;
    padding: 0 42px 0 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid $line-000000;
    border-radius: 0;
    font-size: 18px;
    letter-spacing: -0.5px;
    color: $gray-454545;

    &::placeholder {
      color: $disabled-d9d9d9;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .btn-search {
    position: absolute;
    @include background-img($width: 20px, $height: 20px, $category: 'common', $img: 'ico-search.png');
    z-index: 2;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    background-color: transparent;
    margin-left: 0;
    padding: 0;
  }
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #fff;
  transition: all .5s ease;
  font-size: 18px;
  text-align: left;
  border-bottom: 1px solid $gray-000000;

  &:focus {
    box-shadow: none;
    outline: none;
  }

  .select {
    cursor: pointer;
    display: block;

    .ico-select-nor {
      position: absolute;
      @include background-img($width: 9px, $height: 6px, $category: 'common', $img: 'ico-select-nor.svg');
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    top: 52px;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.08);
    border: 1px solid $gray-000000;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 9;
    padding: 30px;
    max-height: 290px;

    li {
      transition: all .2s ease-in-out;
      cursor: pointer;
      list-style: none;
      margin-bottom: 20px;
      padding: 0;
      font-size: 16px;
      line-height: 32px;
      color: $gray-454545;
      letter-spacing: -.5px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.active {
    .ico-select-nor {
      transform: rotate(180deg)
    }
  }
}

.attach-file {
  display: flex;
  flex-direction: column;

  .file {
    position: relative;
    display: flex;
    width: 100%;
    padding: 14px 20px 14px 50px;
    background-color: $bg-f7f7f7;
    align-items: center;

    .icon {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
    }

    span {
      font-family: $font-family-bold;
      font-size: 16px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: $gray-454545;
    }

    + .file {
      margin-top: 8px;
    }
  }
}
