/*
|----------------------------------|
 v.0.1 주연 : 최초 작업 -- 2021.11.3
|----------------------------------|
*/
.modal {
  top: 100vh;
  transition: 1s;
  overflow: hidden;

  &.show {
    top: 0;
    display: block !important;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .modal-dialog {
    position: relative;
    width: 100%;
    margin: 0;
    pointer-events: none;
    max-width: none;

    .modal-content {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: 100vh;
      pointer-events: auto;
      background-color: #fff;
      background-clip: padding-box;
      border: 0;
      border-radius: 0;
      outline: 0;

      .modal-header {
        position: fixed;
        width: 100%;
        height: 70px;
        padding: 0 20px;
        border-radius: 0;
        border-bottom: 0;
        background-color: $bg-ffffff;
        z-index: 1;

        .modal-title {
          font-family: $font-family-bold;
          font-size: 22px;
          line-height: 38px;
          letter-spacing: -1px;
        }

        .btn-close {
          width: 20px;
          height: 20px;
          background: transparent url(../img/common/btn-close-black.svg) center/20px auto no-repeat;
          border-radius: 0;
          opacity: 1;

          &:focus {
            box-shadow: none;
          }

          &:hover {
            opacity: 1;
          }
        }
      }

      .modal-body {
        padding: 120px 20px 80px;
      }
    }
  }

  &.modal-image-viewer {
    display: block !important;

    .modal-dialog {
      .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        pointer-events: auto;
        background-color: $bg-000000;

        .pinch-zoom-parent {
          height: 100vh;
          width: 100vw;
          max-width: 100vw;
          text-align: center;

          img {
            width: 100%;
            height: auto;
          }
        }

        .btn-close {
          position: absolute;
          right: 20px;
          top: 20px;
          width: 34px;
          height: 34px;
          background: transparent url(../img/common/btn-popup-close-gray.svg) center/34px auto no-repeat;
          z-index: 2;
          opacity: 1;
          border-radius: 0;
          padding: 0;
          margin: 0;

          &:focus {
            box-shadow: none;
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  &.modal-notice {
    top: auto;
    overflow: visible;

    .modal-dialog {
      .modal-content {
        min-height: auto;
        max-height: 500px;

        .modal-header {
          position: relative;
          width: 100%;
          height: 35px;
          padding: 0;

          .icon {
            position: absolute;
            left: 50%;
            top: -25px;
            transform: translateX(-50%);
          }
        }

        .modal-body {
          padding: 20px 20px 32px;
          overflow: hidden;

          .scroll {
            max-height: 333px;
            overflow: auto;

            .font-h7 {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              text-align: center;
              margin-bottom: 16px;
            }

            .font-body {
              text-align: center;
              margin-bottom: 24px;
            }
          }
        }

        .modal-footer {
          display: flex;
          width: 100%;
          height: 55px;
          background-color: $bg-f7f7f7;
          padding: 0;
          margin: 0;

          .btn-footer {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: -0.5px;
            color: $gray-707070;
            justify-content: center;
            align-items: center;
            margin: 0;

            + .btn-footer {
              position: relative;

              &::before {
                content: '';
                position: absolute;
                width: 1px;
                height: 16px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                border: 1px solid $line-e9e9e9;
              }
            }
          }
        }
      }
    }
  }

  &.modal-look-up {
    display: block !important;

    .modal-dialog {
      .modal-content {
        .modal-header {
          position: relative;
          display: flex;
          flex-direction: column;
          height: 564px;
          background-color: $gray-000000;
          padding-top: 94px;

          .heading {
            position: absolute;
            width: 100%;
            height: 94px;
            display: flex;
            top: 0;
            left: 0;
            justify-content: space-between;

            .btn-close {
              position: absolute;
              top: 25px;
              right: 20px;
              background-image: url(../img/common/btn-close-white.svg);
            }

            .paging {
              position: absolute;
              left: 20px;
              top: 19px;
              color: $gray-ffffff;

              .icon {
                display: inline-block;
                vertical-align: middle;
              }

              em {
                display: inline-block;
                vertical-align: middle;
                font-style: normal;
                font-family: $font-family-bold;
                font-size: 16px;
                line-height: 32px;
                letter-spacing: -.5px;
                margin-left: 8px;
              }
            }
          }

          .swiper-container {
            width: calc(100vw - 80px);
            height: 564px - 94px - 96px;

            .swiper-slide {
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: auto;
                height: auto;
                max-width: calc(100vw - 80px);
                max-height: 350px;
              }
            }
          }

          .pagination-wrap {
            position: absolute;
            width: calc(100% - 40px);
            top: 262px;
            left: 20px;
            z-index: 2;

            .navigation {
              display: flex;
              width: 100%;
              justify-content: space-between;

              .page-item {
                position: static;

                .page-link {
                  padding: 0;
                }

                &.prev {
                  margin-right: 8px;

                  .page-link {
                    @include background-img($width: 14px, $height: 14px, $category: 'common', $img: 'ico-left-dark.svg');
                  }
                }

                &.next {
                  .page-link {
                    @include background-img($width: 14px, $height: 14px, $category: 'common', $img: 'ico-left-dark.svg');
                    transform: rotate(180deg);
                  }
                }
              }
            }
          }

          .btn-wrapper {
            display: flex;
            position: absolute;
            width: 100%;
            bottom: 40px;
            justify-content: center;
            left: 0;

            a {
              + a {
                margin-left: 16px;
              }
            }
          }
        }

        .modal-body {
          padding: 48px 20px 0;
          background-color: $gray-ffffff;

          .font-body-h-b {
            color: $gray-000000;
            margin-bottom: 8px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
          }

          .font-date {
            margin-bottom: 40px;
          }

          .btn-wrapper {
            margin-bottom: 54px;

            a {
              display: inline-block;
              width: 100%;
              align-items: center;

              .icon {
                margin-right: 8px;
              }

              .icon, .font-body {
                display: inline-block;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
  }
}

.toast-popup {
  position: fixed;
  bottom: -40px;
  left: 50%;
  transform: translate(-50%);
  background: rgba(102, 102, 102, .4);
  border-radius: 500px;
  height: 40px;
  padding: 0 20px;
  display: inline-block;
  z-index: 1056;
  transition: 1s;

  &.active {
    bottom: 40px;
  }

  p {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.5px;
    color: $gray-909090;
    white-space: nowrap;
  }
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, .7);

  + .modal-backdrop {
    display: none;
  }
}

.fade {
  opacity: 1 !important;
}

.tooltip-box {
  position: relative;

  .btn-tooltip {
    display: inline-block;
    width: auto;
    height: auto;
    background-image: none;

    .icon-tooltip {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      @include background-img($width: 20px, $height: 20px, $category: 'common', $img: 'btn-tooltip.svg');

      &::after {
        content: '';
        display: none;
        position: absolute;
        width: 10px;
        height: 10px;
        bottom: -13px;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 1px solid #fff;
        z-index: 3;
      }

      &::before {
        content: '';
        display: none;
        position: absolute;
        bottom: -13px;
        left: 50%;
        transform: translateX(-50%);
        @include background-img($width: 12px, $height: 9px, $category: 'common', $img: 'tooltip-tip.svg');
        z-index: 1;
      }
    }
  }

  &.active {
    .btn-tooltip {
      .icon-tooltip {
        &::before, &::after {
          display: block;
        }
      }
    }

    .text-box {
      display: block;
    }
  }

  .text-box {
    display: none;
    position: absolute;
    width: 100%;
    top: 36px;
    font-family: $font-family;
    background: #FFFFFF;
    border: 1px solid $bg-222222;
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
    letter-spacing: -0.75px;
    color: $gray-454545;
    padding: 50px 20px 20px;
    z-index: 2;
    text-align: left;
  }

  .btn-tooltip-close {
    position: absolute;
    display: block;
    right: 10px;
    top: 10px;

    .icon-tooltip-close {
      display: inline-block;
      vertical-align: middle;
      @include background-img($width: 34px, $height: 34px, $category: 'common', $img: 'btn-close-light.svg');
    }
  }
}
