/*
|----------------------------------|
 v.0.1 주연 : 최초 작업 -- 2021.11.2
|----------------------------------|
*/

/* point */
$point-primary: #2E87EF;
$point-secondary: #186BE8;
$point-active: #E50050;
$point-sub: #01BDB9;

/*common*/
$disabled-d9d9d9: #D9D9D9;

/* text */
$gray-000000: #000000;
$gray-454545: #454545;
$gray-666666: #666666;
$gray-707070: #707070;
$gray-909090: #909090;
$gray-d9d9d9: #D9D9D9;
$gray-ffffff: #FFFFFF;

/* line */
$line-000000: #000000;
$line-909090: #909090;
$line-c9c9c9: #C9C9C9;
$line-d9d9d9: #D9D9D9;
$line-e9e9e9: #E9E9E9;
$line-f3f3f3: #F3F3F3;
$line-ffffff: #FFFFFF;

/* icon */
$icon-ffffff: #FFFFFF;
$icon-222222: #222222;
$icon-666666: #666666;
$icon-d9d9d9: #D9D9D9;
$icon-f3f3f3: #F3F3F3;

/* bg */
$bg-000000: #000000;
$bg-222222: #222222;
$bg-002163: #002163;
$bg-c9c9c9: #c9c9c9;
$bg-f5f5f5: #f5f5f5;
$bg-f7f7f7: #F7F7F7;
$bg-ffffff: #FFFFFF;
$bg-f5f8fb: #F5F8FB;

$font-family: sans-serif;
$font-family-bold: sans-serif;

/* pagination */
$pagination-padding-y: 0;
$pagination-padding-x: 0.8125rem;
$pagination-padding-y-sm: 0;
$pagination-padding-x-sm: 0;
$pagination-padding-y-lg: 0;
$pagination-padding-x-lg: 0;

$pagination-color: $gray-d9d9d9;
$pagination-bg: transparent;
$pagination-border-width: 0;
$pagination-border-radius: 0;
$pagination-margin-start: 0;
$pagination-border-color: transparent;

$pagination-focus-color: $gray-d9d9d9;
$pagination-focus-bg: transparent;
$pagination-focus-box-shadow: none;
$pagination-focus-outline: 0;

$pagination-hover-color: $gray-d9d9d9;
$pagination-hover-bg: transparent;
$pagination-hover-border-color: transparent;

$pagination-active-color: $gray-000000;
$pagination-active-bg: transparent;
$pagination-active-border-color: transparent;

$pagination-disabled-color: $gray-d9d9d9;
$pagination-disabled-bg: transparent;
$pagination-disabled-border-color: transparent;

$pagination-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

$pagination-border-radius-sm: 0;
$pagination-border-radius-lg: 0;

$body-color: $gray-000000;

$grid-gutter-width: 1.1875rem !default;

$link-hover-decoration: none !default;
$link-decoration: none !default;

$font-family-base: sans-serif !default;
$font-family-sans-serif: $font-family-base, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

/* modal */
$modal-backdrop-opacity: .5;
$modal-sm: 300px;
$modal-md: 500px;
$modal-lg: 1000px;
$modal-xl: 1140px;

$modal-fade-transform: translate(0, -50px);
$modal-show-transform: none;
$modal-transition: transform .3s ease-out;
$modal-scale-transform: scale(1);
/*
|----------------------------------|
*/
