/*
|----------------------------------|
 v.0.1 태윤 : 최초 작업 -- 2021.11.10
|----------------------------------|
*/

.section_business{
  margin: 0 20px;
 .table-scroll{
   margin-bottom: 48px;
 }
  .img{
    img{
      width: 100%;
      height: 100%;
    }
  }

  .subject-box{
    padding-bottom: 80px;
    border-bottom: 10px solid #f5f5f5;
    margin-bottom: 80px;
    .title{
      margin-bottom: 24px;
    }
    .subject{
      color: #000000;
      &.img_bottom{
        margin-bottom: 40px;
      }
      + .img-wrap{
        padding-top: 48px;
      }
    }
    .img{
      margin-bottom: 40px;
    }
    .desc{
      word-break: keep-all;
      color: #000;
    }
    .img-wrap{
      .content{
        margin-bottom: 32px;
        display: flex;
        align-content: center;
        align-items: center;
        .img{
          margin-bottom: 0;
          width: 128px;
          height: 128px;
        }
        .desc{
          margin-left: 24px;
          color: #454545;
        }
      }
    }
  }
  .select-nav-box{
    margin-bottom: 56px;
    .select-box{
      display: block;

      .select-option{
        position: absolute;
        font-size: 18px;
      }
    }
    .title{
      margin-bottom: 16px;
    }
  }
  .info-box-wrap{
    .info-box{
      display: none;
      .img{
        + .desc{
          padding-top: 40px;
        }
        + .list-area{
          padding-top: 40px;
        }
      }
      &.show{
        display: block;
      }
      &.subject-box{
        display: block;
        &.no-line{
          padding-bottom: 0px;
         border: none;
          margin-bottom: 0px;
        }
      }
      .title{
        margin-bottom: 24px;
      }
      .desc{
        &.img_bottom{
          margin-bottom: 40px;
        }
        &.data_bottom{
          margin-bottom: 48px;
        }
      }
      .img{
        position: relative;
        span{
          display: inline-block;
          width: 40px;
          height: 40px;
          position: absolute;
          bottom: 0px;
          right: 0px;
          background: rgba(144, 144, 144, 0.3);
          border-radius: 8px 0px 0px 0px;
          i{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
          }
        }
        &.caption_bottom{
          margin-bottom: 16px;
        }
        + .list-area-group{
          padding-top: 56px;
        }
      }
      .caption{
        font-size: 14px;
        line-height: 26px;
        letter-spacing: -0.5px;
        color: #909090;
        &.btn-wrap_bottom{
          margin-bottom: 40px;
        }
      }
      .subject{
        &.img_bottom{
          margin-bottom: 48px;
        }
      }

    }
    .divider{
      margin:65px 0 64px;
      height: 1px;
    }
    .main-title{
      margin-bottom: 56px;
    }
    .subject{
      color: #000;
      margin-bottom: 24px;
    }
    .desc{
      &.img_bottom{
        margin-bottom: 40px;
      }
      &.list_bottom{
        margin-bottom: 48px;
      }
    }
    .sub-title{
      margin-bottom: 24px;
    }
    .list-area-group{
      .title{
        color: #000;
      }
      .list-area{
        margin-bottom: 48px;
      }
      +.btn-area{
        padding-top: 32px;
      }
    }
    .list-area{
      .title{
        margin-bottom: 16px;
      }
      .list-circle-dot{
        > li{
          position: relative;
          margin-bottom: 8px;
          &:nth-last-of-type(1){
            margin-bottom: 0px;
          }
          &:before{
            position: absolute;
            content: '';
            width: 5px;
            top: 13.5px;
            height: 5px;
            background-color:#454545;
            border-radius: 50%;
          }
          p{
            font-size: 16px;
            line-height: 32px;
            margin-left: 15px;
            display: inline-block;
          }
          .list-hypen{
            margin-left: 15px;
            li{
              font-size: 14px;
              line-height: 26px;
              letter-spacing: -0.5px;
              color: #707070;
              font-weight: 400;
            }
          }
        }

      }
        &.img_bottom{
        margin-bottom: 40px;
      }
    }
    .btn-area{
      padding-top: 80px;
    }
    .border-gray-box{
      border: 1px solid #e9e9e9;
      margin-bottom:42px;
      position: relative;
      span{
        display: inline-block;
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        background: rgba(144, 144, 144, 0.3);
        border-radius: 8px 0px 0px 0px;
        i{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50% , -50%);
        }
      }
      &:nth-last-of-type{
        margin-bottom: 0px;
      }
      +.caption{
        padding-top: 17px;
      }
      +.btn-area{
        padding-top: 38px;
      }
    }
    .notice-text{
      display: flex;
      font-size: 16px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: #909090;
      i{
        margin-top:6px;
        flex: 20px 0 0;
        margin-right: 8px;
      }
    }
    .navigation{
      &.pt-80{
        padding-top: 80px;
      }
    }
  }
  .list-gallery{
    .img{
      margin-bottom: 40px;
    }
    .btn-wrap{
      padding-top: 40px;
    }
    .youtube-container{
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
      iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .list{
        .cont{
          .desc{
            margin-bottom: 24px;
            &.caption_bottom{
              margin-bottom: 16px;

            }
        }
          .caption{
            margin-bottom: 24px;
          }
      }

    }
  }

}