/*
|----------------------------------|
 v.0.1 태윤 : 최초 작업 -- 2021.11.22
|----------------------------------|
*/

.section_agreement {
  margin: 0 20px;

  .table {
    tr {
      th {
        padding: 8px 10px;

        &:first-child {
          padding: 8px 10px;
        }

        &:last-child {
          padding: 8px 10px;
        }
      }

      td {
        padding: 8px 10px;

        &:first-child {
          padding: 8px 24px;
        }

        &:last-child {
          padding: 8px 10px;
        }
      }
    }
  }

  .gray-box {
    margin-top: 16px;
    border-radius: 6px;
    margin-left: -20px;
    background-color: #F7F7F7;
    padding: 24px;

    .list-circle-dot {
      li {
        margin-bottom: 8px;

        .tit {
          color: #000;
          position: relative;

          &:before {
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #000;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            left: -15px;
          }
        }

        &:nth-last-of-type(1) {
          margin-bottom: 0px;
        }
      }

      span {
        display: block;
      }

      a {
        text-decoration: none;
        color: #454545;
      }
    }
  }

  .download {
    margin-top: 16px;
    margin-left: -22px;
    margin-bottom: 32px;
  }

  .table-scroll {
    margin-top: 24px;
    margin-right: -20px;
  }

  .select-box {
    display: block;
    margin-bottom: 64px;

    .selected-value {
      .text {
        color: #000000;
      }
    }
  }

  .terms {
    &.management {
      .sub-title {
        color: #000;
        margin-bottom: 8px;
      }

      li {
        padding: 0;

        ol {
          li {
            padding-left: 20px
          }
        }
      }
    }

    &.movieinfo {
      .hyphen_list {
        margin-top: 8px;
      }
      .padding-none{
        padding: 0;
      }
      ul{
        li{

        }
      }
      .table {
        &.table-50 {
          tr {
            td {
              padding: 8px 0px !important;
            }

            th {
              padding: 8px 0px !important;
            }
          }
        }

        tr {
          td {
            padding: 8px 24px !important;
          }

          th {
            padding: 8px 24px !important;
          }
        }

      }

      .download {
        margin-left: 0px;
      }
    }

    .title {
      margin-top: 64px;
      margin-bottom: 24px;
    }

    .desc {
      margin-bottom: 24px;
    }

    .sub-desc {
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: #454545;
    }


    li {
      .caption{
        padding-top: 24px;
      }
      ul {
        font-size: 16px;
        line-height: 32px;
        color: #454545;

        > li {
          padding-left: 25px;
          position: relative;

          &:before {
            content: attr(data-bullet);
            position: absolute;
            top: 0;
            left: 0;
            width: 17px;
            text-align: left;
          }

          > ol {
            li {
              padding-left: 22px;
              position: relative;

              &:before {
                content: attr(data-bullet);
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                text-align: left;
              }
            }
          }
        }
      }
    }

  }
}