/*
|----------------------------------|
 v.0.1 선미 : 최초 작업 -- 2021.09.08
|----------------------------------|
*/

.intro {
  .section-text {
    font-size: 18px;
    line-height: 32px;
    color: #454545;
    letter-spacing: -1.3px;
  }

  .section-banner {
    padding-left: 8%;/*30px*/
    padding-bottom: 100px;

    .img {
      margin-bottom: 55px;
      img{
        width: 100%;
      }
    }
    .list {
      .item {
        position: relative;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        color: #000000;
        padding-left: 30px;
        margin-bottom: 15px;
        letter-spacing: -1.3px;

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 10px;
          width: 20px;
          height: 3px;
          background-color: #000;
        }
      }
    }
  }

  .section-list {
    background: #F7F7F7;
    padding: 107px 30px 50px;

    .title {
      background: url(../img/common/img-1997.svg) no-repeat center center;
      width: 151px;
      height: 49px;
      position: relative;
      margin-bottom: 32px;

      &::after {
        content: '';
        position: absolute;
        right: -71px;
        bottom: -1px;
        width: 60px;
        height: 5px;
        background-color: #000;
      }
    }

    .desc {
      font-size: 18px;
      line-height: 32px;
      color: #454545;
      margin-bottom: 60px;
      letter-spacing: -1.3px;
    }

    .list {
      width: 313px;
      margin: 0 auto;
      overflow: hidden;

      .item {
        float: left;
        margin-right: 33px;
        margin-bottom: 48px;

        .txt-lg {
          font-weight: bold;
          font-size: 28px;
          line-height: 34px;
          text-align: center;
          letter-spacing: -0.5px;
          color: #000000;
        }

        .txt {
          font-size: 18px;
          line-height: 28px;
          text-align: center;
          color: #000000;
        }

        .img {
          width: 140px;
          height: 140px;
          margin-bottom: 18px;

          img {
            width: 100%;
            height: 100%;
          }
        }


        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }

  .section-businessArea{
    .info-box{
      margin-bottom: 39px;
      &:nth-of-type(1){
        .title-area{
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 68.75%, rgba(0, 0, 0, 0.5) 100%) ,url('../img/@temp/bg-01.png') no-repeat center center / cover;
        }
      }
      &:nth-of-type(2){
        .title-area{
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 68.75%, rgba(0, 0, 0, 0.5) 100%) ,url('../img/@temp/bg-02.png') no-repeat center center / cover;
        }
      }
      &:nth-of-type(3){
        .title-area{
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 68.75%, rgba(0, 0, 0, 0.5) 100%) ,url('../img/@temp/bg-03.png') no-repeat center center / cover;
        }
      }
      &:nth-of-type(4){
        margin-bottom: 56px;
        .title-area{
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 68.75%, rgba(0, 0, 0, 0.5) 100%) ,url('../img/@temp/bg-04.png') no-repeat center center / cover;
        }
      }
      .title-area{
        width: 100%;
        height: 392px;
        position: relative;
        >div{
          position: absolute;
          bottom: 26px;
          display: block;
          width: 100%;
          padding: 0 30px;
          box-sizing: border-box;
           &:before{
             content: '';
             display: inline-block;
             width: 100%;
             height: 1px;
             opacity: 0.2;
             border-top:1px solid #ffffff;
             margin-bottom: 23px;
          }
        }
        p{
          color:#ffffff;
          font-weight: bold;
          font-size: 36px;
          line-height: 55px;
          &.text-en{
            font-size: 18px;
            line-height: 20px;
            text-transform: uppercase;
          }
        }
      }
      .desc-area{
        font-size: 22px;
        padding: 40px 30px;
        .sub-title{
          font-size:22px;
          font-weight: bold;
          line-height: 34px;
          margin-bottom:20px;
          letter-spacing: -1.3px;
        }
        .text{
          font-weight: normal;
          font-size: 16px;
          line-height: 30px;
          letter-spacing: -1px;
        }
      }

    }
  }
}
