/*
|----------------------------------|
 v.0.1 (선미) 최초 작업 -- 2021.11.17
|----------------------------------|
*/

/*특허논문*/
/*
.section_RD {
  .board {
    .list {
      &.list-card {
        .item {
          .tit {
            !*R&D에만 말줄임표 없음*!
            display: block;
          }
        }

        &.hover {
          .item {
            padding: 41px 140px 41px 67px;

            .tit-sub {
              margin-bottom: 6px;
            }

            .arrow {
              .icon-arrow-right-short {
                right: 65px;
              }
            }
          }
        }
      }
      .no-data{
        border: 1px solid $line-e9e9e9!important;
      }
    }
  }
}
*/

/*연구소*/
/*.research-wrap {
  .divider {
    margin-top: 120px;
  }

  !*폰트 공통*!
  .info-box {
    padding: 80px 20px 56px;

    .title {
      font-size: 56px;
      line-height: 81px;
      letter-spacing: -4.5px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .desc {
      font-size: 18px;
      line-height: 32px;
      letter-spacing: -1.3px;
    }
  }

  .desc-box {
    width: $min-width;
    margin: 0 auto;

    p {
      font-size: 16px;
      line-height: 30px;
      color: #454545;

      &.sub-title {
        font-size: 22px;
        line-height: 36px;
        color: #000000;
        font-weight: bold;
        margin-bottom: 20px;
        letter-spacing: -1.3px;
      }
    }
  }

  !*이미지 공통*!
  .img {
    width: 100%;
    height: 560px;
    background-image: url(../img/RD/img-analysis.png);
    background-size: 1920px 600px;
    background-position: 0 0;
    margin-bottom: 120px;
  }


  !*생명정보학연구소*!
  .section_lifeInformation {
    .img {
      width: 100%;
      height: 560px;
      background-size: 1582px 560px;
      background-position: 0 0;
      background-repeat: no-repeat;
      margin-bottom: 100px;
    }
  }

  !*더바이옴연구소*!
  .section_theBiome {
    .img {
      width: 100%;
      height: 560px;
      background-image: url(../img/RD/img-pincette.png);
      background-size: 1582px 560px;
      background-position: 323px 0;
      background-repeat: no-repeat;
      margin-bottom: 100px;
    }
  }

  .biome_area {
    padding-top: 120px;

    .sub_title {
      font-weight: bold;
      font-size: 32px;
      line-height: 46px;
      margin-bottom: 40px;
    }
  }

  !*생명정보학/정밀의학/더바이옴/싱크진 공통*!
  .section_info_list {
    width: $min-width;
    margin: 0 auto;

    &.syncgenes-area {
      .box {
        margin-bottom: 80px;

        .sub_title {
          font-size: 36px;
        }

        .sub_desc {
          img {
            margin-bottom: 0;
          }
        }
      }
    }

    .box {
      margin-bottom: 120px;

      &:last-of-type {
        margin-bottom: 0;
      }

      .sub_title {
        font-weight: bold;
        font-size: 32px;
        line-height: 46px;
        display: inline-block;
        float: left;
        width: 428px;

        > span {
          font-weight: normal;
          font-size: 16px;
          line-height: 30px;
          color: #454545;
          display: block;
          padding-top: 20px;
        }
      }

      .sub_desc {
        display: inline-block;
        float: left;
        width: calc(100% - 428px);

        > p {
          font-size: 16px;
          line-height: 30px;
          color: #454545;
          letter-spacing: -1px;

          + img {
            padding-top: 40px;
            margin-bottom: 0;
          }
        }

        img {
          margin-bottom: 40px;
        }
      }
    }
  }

  !*빅데이터연구소*!
  .section_bigData {
    margin-bottom: 120px;

    .img {
      width: 100%;
      height: 560px;
      background-image: url(../img/RD/img-bigData.png);
      background-size: 1582px 560px;
      background-position: 323px 0;
      background-repeat: no-repeat;
      margin-bottom: 100px;
    }
  }

  .section_research_area {
    width: $min-width;
    margin: 0 auto;

    .title {
      font-weight: bold;
      font-size: 32px;
      line-height: 46px;
      display: inline-block;
      float: left;
      width: 210px;
    }

    .list {
      font-size: 16px;
      line-height: 30px;
      color: #454545;
      display: inline-block;
      float: left;
      letter-spacing: -1px;
      width: calc(100% - 210px);

      li {
        float: left;
        margin-left: 65px;

        &:first-of-type {
          margin-left: 0;
        }

        p {
          padding-top: 30px;
          text-align: center;
        }
      }
    }
  }

  !*싱크진 연구소*!
  .section_syncgenes {
    margin-bottom: 120px;

    .img {
      width: 100%;
      height: 560px;
      background-image: url(../img/RD/img-analysis.png);
      background-size: 1920px 560px;
      background-position: 0 0;
      background-repeat: no-repeat;
      margin-bottom: 100px;
      overflow: hidden;
    }

    .divider {
      margin-top: 90px;
    }
  }
}*/



.research-wrap{
  .M-divider {
   width: 100%;
    height: 1px;
    background-color: #e9e9e9;
    margin: 64px 0 65px;
  }

  .section_intro{
    .info-box{
      padding: 0 20px 56px;
      .title{
        word-break: keep-all;
        font-size: 34px;
        line-height: 50px;
        letter-spacing: -1px;
        font-weight: bold;
        margin-bottom: 24px;
      }
      .desc{
        font-size: 18px;
        line-height: 34px;
      }
    }
    .img {
      width: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      &.img-person_research{
        background-image: url(../img/RD/img-person_research.png);
        height: 270px;
      }
      &.img-microscope{
        background-image: url(../img/RD/img-microscope.png);
        height: 252px;
      }
      &.img-pincette{
        background-image: url(../img/RD/img-pincette.png);
        height: 252px;
      }
      &.img-analysis{
        background-image: url(../img/RD/img-analysis.png);
        height: 252px;
      }
    }
  }
  .section_info_list{
    padding: 80px 20px;

    .box{
      border:1px solid red;
      .sub_title{
        font-size: 22px;
        line-height: 38px;
        font-weight: bold;
        margin-bottom: 24px;
      }
      .sub_desc{
        font-size: 16px;
        line-height: 32px;
        img{
          padding-top: 40px;
        }
        .img{
          width: 100%;
          height: 171px;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          &.img-AK1{
            background-image: url(../img/RD/img-AK1.png);
            margin-top: 28px;
            margin-bottom: 40px;
          }
          &.img-syncgenes_research{
            background-image: url(../img/RD/img-syncgenes_research.png);
            height: 162px;
            margin: 40px 0 64px;
          }
          &.img-syncgenes_analysis{
            background-image: url(../img/RD/img-syncgenes_analysis.png);
            height: 162px;
            margin: 40px 0 64px;
          }
          &.img-syncgenes_detailed{
            background-image: url(../img/RD/img-syncgenes_detailed.png);
            height: 162px;
            margin: 40px 0 0;
          }
        }
      }
      >img{ /*더바이옴연구소 - 연구영역*/
        width: 100%;
      }
    }
  }
  .section_status{
    overflow: hidden; /*swiper-scrollbar로 인해 위치이동*/
    height: 719px;
    background: url('../img/RD/bg-status.png') no-repeat center center / cover;
    padding: 80px 0 80px 20px;
    .font-h4{
      color:#ffffff;
      margin-bottom: 64px;
    }
    .tab-basic{
      .tab-list{
        margin-bottom: 32px;
        .nav-link{
          color: #909090;
          position: relative;
          &:first-of-type{
            padding-left: 0;
            &:before{
              display: none;
            }
          }
          &.active{
            color:#ffffff;
          }
          &:before {
            content: '';
            display: inline-block;
            width: 1px;
            height: 14px;
            background-color: $line-e9e9e9;
            position: absolute;
            top: 12px;
            left: 0;
            opacity: 0.3;
          }
        }
      }
    }
    .tab-content {
      .tab-pane {

        .slide-box {
          .slider {
            .swiper-container {
              overflow: unset;

              .swiper-wrapper {
                .swiper-slide {
                  &.item {
                    width: 335px !important;
                    margin-right: 20px;
                    display: block;

                    .img {
                      width: 335px;
                      height: 224px;
                      display: block;
                      margin-bottom: 0;

                      img {
                        @include img-100;
                      }
                    }

                    .txt {
                      padding: 30px;
                      background-color: $gray-ffffff;
                      height: 128px;
                      display: inline-block;
                      width: 100%;

                      span {
                        font-size: 18px;
                        line-height: 32px;
                        color: $gray-000000;
                        @include ellipsis(2);
                        font-weight: bold;
                        height: 70px;
                      }
                    }
                  }
                }
              }
              .swiper-scrollbar{
                width: 335px!important;
                height: 1px;
                background: rgba(255,255,255,0.1);/*ffffff*/
                opacity: 0.1;
                bottom: -24px;
                left: 0;
                .swiper-scrollbar-drag{
                  background: rgba(217,217,217,1);/*d9d9d9*/

                  opacity: 1!important;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*정밀의학연구소 팝업*/
.modal {
  .modal-dialog {
    &.research {
      .modal-content{
        .modal-body{
          .title{
            font-size: 22px;
            line-height: 38px;
            letter-spacing: -1px;
            font-weight: bold;
            .sub_title{
              display: block;
              font-size: 18px;
              line-height: 34px;
              letter-spacing: -0.75px;
              color: $point-primary;
              margin-bottom: 10px;
            }
          }
          .M-divider{
            margin: 40px 0 60px;
          }
          .desc{
            line-height: 30px;
            color:$gray-454545;
          }
        }
        .modal-footer{
          border-top: none;
          padding: 0 20px;
          .board{
            margin: 0 auto;
            width: 100%;
          }


        }
      }
    }
  }
}
