<!--footer 수정사항 있을시 메인페이지에 있는 footer도 같이변경해주세요-->
<footer class="footer main">
    <div class="font-h5">Macrogen</div>
    <div class="info">
        <p>서울특별시 강남구 역삼2동 테헤란로 238 마크로젠 빌딩</p>
        <p>대표번호 : <a href="tel:02-2180-7000">02-2180-7000</a></p>
        <p>ⓒMacrogen, Inc. All Rights Reserved.</p>
    </div>
    <div class="link-list">
        <ul>
            <li>
                <select class="select" title="serviceSite" onchange="window.open(value,'_blank');">
                    <option selected value="https://dna.macrogen.com/">서비스 신청/견적 문의</option>
                    <option value="/ko/policy/privacy">개인정보 처리방침</option>
                    <option value="/ko/policy/inside">내부정보관리규정</option>
                    <option value="/ko/policy/image/">영상정보처리기기 운영.관리방침</option>
                </select>
            </li>
            <li>
                <select class="select" title="familySite" onchange="window.open(value,'_blank');">
                    <option selected>Family Site</option>
                    <option value="https://thebiome.life/">더바이옴</option>
                    <option value="https://www.my-genomestory.com/">마이지놈스토리</option>
                    <option value="https://www.mypetgene.com/main/main.php">마이펫진</option>
                    <option value="https://psomagen.com/">소마젠(Psomagen)</option>
                    <option value="https://www.macrogen-japan.co.jp/">마크로젠 일본</option>
                    <option value="https://www.macrogen-europe.com">마크로젠 유럽</option>
                    <option value="https://www.macrogen-apac.com/">마크로젠 싱가포르</option>
                    <option value="http://gmi.ac.kr/index.php">유전체의학연구소</option>
                    <option value="http://www.g2if.org/">공우생명정보재단</option>
                </select>
            </li>
        </ul>
    </div>
    <ul class="sns">
        <li><a href="https://www.facebook.com/macrogenkr/" target="_blank"><i class="icon icon-facebook"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCT1qyaOiPM7syCEC_T8jmTw" target="_blank"><i class="icon icon-youtube"></i></a></li>
        <li><a href="https://blog.naver.com/macrogen_official" target="_blank"><i class="icon icon-blog"></i></a></li>
        <li><a href="https://www.linkedin.com/company/macrogen" target="_blank"><i class="icon icon-linkedin"></i></a></li>
    </ul>
</footer>
