<footer class="footer">
    <div class="top">
        <div class="copyright">
            <p>ⓒMacrogen, Inc.<br>All Rights Reserved.</p>
        </div>
        <ul class="sns">
            <li><a href="#"><i class="icon icon-facebook-square"></i></a></li>
            <li><a href="#"><i class="icon icon-youtube-square"></i></a></li>
            <li><a href="#"><i class="icon icon-blog-square"></i></a></li>
            <li><a href="#"><i class="icon icon-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="bottom">
        <select class="form-control" title="FAMILY SITE 선택">
            <option>FAMILY SITE</option>
            <option>FAMILY 01</option>
            <option>FAMILY 02</option>
            <option>FAMILY 03</option>
        </select>
    </div>


</footer>


