<div class="dropdown_area">
  <div class="select_box _select_box">
    <div class="select_default">
      <span>2020. 03. 31 ~ 현재</span>
    </div>
    <div class="select_dropdown _dropdown">
      <ul>
        <li><a role="button"><span>2020. 03. 31 ~ 현재</span></a></li>
        <li><a role="button"><span>2019. 10. 21 - 2020. 03 .31</span></a></li>
        <li><a role="button"><span>2018. 10. 26 - 2019. 10 .20</span></a></li>
        <li><a role="button"><span>2017. 03. 31 - 2018. 10 .25</span></a></li>
        <li><a role="button"><span>2012. 12. 03 - 2017. 03 .31</span></a></li>
      </ul>
    </div>
  </div>
  <!--클릭시 select box on-->
  <script>
    /*드롭다운 클릭시 이벤트*/
    $(".select_default").click(function() {
      var select = $(this);
      //드롭다운 열기
      select.addClass("open").next('._dropdown').slideDown(100).addClass("open");
      //다른영역 클릭 시 닫기
      $(document).mouseup(function(e) {
        var seting = $("._dropdown");
        if (seting.has(e.target).length === 0) {
          seting.removeClass("open").slideUp(100);
          select.removeClass("open");
        }
      });
      $("._dropdown a").click(function() {
        var option = $(this).text();

        //클릭 시 드롭다운 닫기
        $("._dropdown a").removeClass('selected');
        $("._dropdown").removeClass("open").slideUp(100);
        select.removeClass("open");
        $(this).addClass('selected');

        //select에  text 넣기
        select.text(option);
      });
    });

    /*버튼 클릭시 이벤트*/
    $("._lookup").click(function() {
      var select = $(this);

      //드롭다운 열기
      select.addClass("open").parent().find('._dropdown').slideDown(100).addClass("open");

      //다른영역 클릭 시 닫기
      $(document).mouseup(function(e) {
        var seting = $("._dropdown");
        if (seting.has(e.target).length === 0) {
          seting.removeClass("open").slideUp(100);
          select.removeClass("open");
        }
      });
      $("._dropdown a").click(function() {
        var option = $(this).text();

        //클릭 시 드롭다운 닫기
        $("._dropdown a").removeClass('selected');
        $("._dropdown").removeClass("open").slideUp(100);
        select.removeClass("open");
        $(this).addClass('selected');
      });
    });
  </script>
</div>
