<div class="slide-tab-wrap">
    <div class="swiper-container tab-slide-box _swiperTab">
        <div class="swiper-wrapper _swiperTab">
            <div class="swiper-slide active"><a href="#">Whole Genome Sequencing</a></div>
            <div class="swiper-slide"><a href="#">Exome Sequencing</a></div>
            <div class="swiper-slide"><a href="#">Transcriptome Sequencing</a></div>
            <div class="swiper-slide"><a href="#">Metagenome Sequencing</a></div>
            <div class="swiper-slide"><a href="#">Whole Genome Sequencing</a></div>
            <div class="swiper-slide"><a href="#">Exome Sequencing</a></div>
            <div class="swiper-slide"><a href="#">Transcriptome Sequencing</a></div>
            <div class="swiper-slide"><a href="#">Metagenome Sequencing</a></div>
            <div class="swiper-slide"><a href="#">Whole Genome Sequencing</a></div>
            <div class="swiper-slide"><a href="#">Exome Sequencing</a></div>
            <div class="swiper-slide"><a href="#">Transcriptome Sequencing</a></div>
            <div class="swiper-slide"><a href="#">Metagenome Sequencing</a></div>
        </div>
    </div>
    <div class="btn-box">
        <a href="#" class="btn btn-circle btn-white btn-sm _slideLeft"><i class="icon icon-arrow-left-sm"></i></a>
        <a href="#" class="btn btn-circle btn-white btn-sm _slideRight"><i class="icon icon-arrow-right-sm"></i></a>
        <a href="#" class="btn btn-circle btn-black btn-sm _btnMenu"><i class="icon icon-menu-white"></i></a>
    </div>
</div>
<script>
    var swiper = new Swiper("._swiperTab", {
        slidesPerView: "auto",
        spaceBetween: 0,
        centeredSlides: false,
        watchActiveIndex: true,
        slideToClickedSlide: true,
        navigation: {
            nextEl: "._slideRight",
            prevEl: "._slideLeft",
        },
    });

    $(document).ready(function (){
        var idx = $('._swiperTab .swiper-slide').length;
        var sum= 0;

        // slide wrap width
        for (var j = 0; j < idx; j++) {
            sum = sum + $(".swiper-slide:eq("+j+")").outerWidth(true);
        }
        $('.swiper-wrapper').css('width',sum)

        // slide width
        for (var i = 0; i <= idx; i++) {
            var target = $(`.swiper-slide:eq(${i})`);
            var idxWidth = $(`.swiper-slide:eq(${i})`).outerWidth(true) - 40;
            target.css('width',idxWidth)
        }
    })

    $('._swiperTab .swiper-slide').on('click', function(){
        $(this).addClass('active').siblings().removeClass('active');
    });

    $('.swiper-notification').remove();
</script>
