/*
|----------------------------------|
 v.0.1 (선미) 최초 작업 -- 2021.11.17
|----------------------------------|
*/

.research-wrap{
  .section_intro{
    .info-box{
      padding: 0 20px 56px;
      .title{
        font-size: 34px;
        line-height: 50px;
        letter-spacing: -1px;
        font-weight: bold;
        margin-bottom: 24px;
      }
      .desc{
        font-size: 18px;
        line-height: 34px;
      }
    }
    .img {
      width: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      &.img-person_research{
        background-image: url(../img/RD/img-person_research.png);
        height: 270px;
      }
      &.img-microscope{
        background-image: url(../img/RD/img-microscope.png);
        height: 252px;
      }
      &.img-pincette{
        background-image: url(../img/RD/img-pincette.png);
        height: 252px;
      }
      &.img-analysis{
        background-image: url(../img/RD/img-analysis.png);
        height: 252px;
      }
      &.img-bigData{
        background-image: url(../img/RD/img-bigData.png);
        height: 252px;
      }
    }
  }
  .section_info_list{
    padding: 0 20px;

    .box{
      &:first-of-type{
        margin-top: 80px;
      }
      &:last-of-type{
        margin-bottom: 80px;
      }
      .sub_title{
        font-size: 22px;
        line-height: 38px;
        font-weight: bold;
        margin-bottom: 24px;
      }
      .sub_desc{
        font-size: 16px;
        line-height: 32px;
        letter-spacing: -0.5px;
        img{
          padding-top: 40px;
        }
        .img{
          width: 100%;
          height: 171px;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          &.img-AK1{
            background-image: url(../img/RD/img-AK1.png);
            margin-top: 28px;
            margin-bottom: 40px;
          }
          &.img-syncgenes_research{
            background-image: url(../img/RD/img-syncgenes_research.png);
            height: 162px;
            margin: 40px 0 64px;
          }
          &.img-syncgenes_analysis{
            background-image: url(../img/RD/img-syncgenes_analysis.png);
            height: 162px;
            margin: 40px 0 64px;
          }
          &.img-syncgenes_detailed{
            background-image: url(../img/RD/img-syncgenes_detailed.png);
            height: 162px;
            margin: 40px 0 0;
          }
        }
      }
      >img{ /*더바이옴연구소 - 연구영역*/
        width: 100%;
      }

      /*싱크진,빅데이터연구소*/
      &.box-type2{
        &:first-of-type{
          margin-top: 40px;
        }
        .sub_title{
          font-size: 18px;
          line-height: 34px;
          margin-bottom: 16px;
        }
      }

      /*빅데이터연구소*/
      .list{
        li{
          display: flex;
          justify-content: start;
          align-items: center;
          margin-bottom: 32px;
          &:last-of-type{
            margin-bottom: 0;
          }
          p{
            display: inline-block;
            padding-left: 16px;
            line-height: 32px;
          }
        }
      }
    }
  }

  /*정밀의학연구소 탭 & 슬라이드*/
  .section_status{
    overflow: hidden; /*swiper-scrollbar로 인해 위치이동*/
    height: 719px;
    background: url('../img/RD/bg-status.png') no-repeat center center / cover;
    padding: 80px 0 80px 20px;
    .font-h4{
      color:#ffffff;
      margin-bottom: 64px;
    }
    .tab-basic{
      .tab-list{
        margin-bottom: 32px;
        .nav-link{
          color: #909090;
          position: relative;
          &:first-of-type{
            padding-left: 0;
            &:before{
              display: none;
            }
          }
          &.active{
            color:#ffffff;
          }
          &:before {
            content: '';
            display: inline-block;
            width: 1px;
            height: 14px;
            background-color: $line-e9e9e9;
            position: absolute;
            top: 12px;
            left: 0;
            opacity: 0.3;
          }
        }
      }
    }
    .tab-content {
      .tab-pane {

        .slide-box {
          .slider {
            .swiper-container {
              overflow: unset;

              .swiper-wrapper {
                .swiper-slide {
                  &.item {
                    width: 335px !important;
                    margin-right: 20px;
                    display: block;

                    .img {
                      width: 335px;
                      height: 224px;
                      display: block;
                      margin-bottom: 0;

                      img {
                        @include img-100;
                      }
                    }

                    .txt {
                      padding: 30px;
                      background-color: $gray-ffffff;
                      height: 128px;
                      display: inline-block;
                      width: 100%;

                      span {
                        font-size: 18px;
                        line-height: 32px;
                        color: $gray-000000;
                        @include ellipsis(2);
                        font-weight: bold;
                        height: 70px;
                      }
                    }
                  }
                }
              }
              .swiper-scrollbar{
                width: 335px!important;
                height: 1px;
                background: rgba(255,255,255,0.1);/*ffffff*/
                opacity: 0.1;
                bottom: -24px;
                left: 0;
                .swiper-scrollbar-drag{
                  background: rgba(217,217,217,1);/*d9d9d9*/

                  opacity: 1!important;
                }
              }
            }
          }
        }
      }
    }
  }
  .board{
    .text-list .category-list {
      &.no-data{
        padding: 24px 0!important;
        border:none;
        .item{
          border: none;
          padding: 0;
        }
      }
    }
  }
}

/*정밀의학연구소 팝업*/
.modal {
  .modal-dialog {
    &.research {
      .modal-content{
        .modal-body{
          .title{
            font-size: 22px;
            line-height: 38px;
            letter-spacing: -1px;
            font-weight: bold;
            .sub_title{
              display: block;
              font-size: 18px;
              line-height: 34px;
              letter-spacing: -0.75px;
              color: $point-primary;
              margin-bottom: 10px;
            }
          }
          .M-divider{
            margin: 40px 0 60px;
          }
          .desc{
            line-height: 30px;
            color:$gray-454545;
          }
        }
        .modal-footer{
          border-top: none;
          padding: 0 20px;
          .board{
            margin: 0 auto;
            width: 100%;
          }


        }
      }
    }
  }
}
