.mobile{ //html
  position:relative;
  background:white; height:100%;
  // overflow-x:hidden;
  body {height:auto;}

  //common layout 의 경우
  .wrap {width:100%; min-width:100%;}
  .sub_body {width:100%; display:block;
    .sub_body_lnb {display:none;}
    .sub_body_contents{
      .contents {width:100%!important; height:100%;}
    }
  }

  //초등 layout 의 경우
  .wrap {
    #container {width:100%!important; display:block;
      .contents {width:100%; padding-bottom:0px;
      }
    }
  }

  .wrap {
    .contents { height:100%;
      //유치 테스트 패딩
      .section-management {padding:20px;}
    }
  }

  .contents {min-height:200px;
    .section-test {padding:28px 20px;}
  }


  //모바일 레이아웃
  @function m_width($width){
    $all_width: 720;
    @return $width/$all_width*100%;
  };

  .m-wrap {
    .m-head {
      //로고영역
      .logo_area {padding:13.5px 20px; display:flex; justify-content: space-between; background:white;
        .logo_title { width:50%;
          img { min-width:68px; width: 68px !important; max-width:68px; transform:translate3d(0,0,0);}
        }
        .search_and_menu {
          display:flex; justify-content: flex-end; align-items: center;
          .search {margin-right:20px; width:20px; height:20px;
            img {width:20px; max-width:20px;  height:20px; vertical-align:baseline;}
          }
          .mobile_menu {width:20px; height:20px; display:flex; align-items: center; justify-content: center; flex-direction: column;
            &:before {width:20px; height:2px; background:black; content:""; display:block; }
            .line {width:20px; height:2px; background:black; content:""; display:block; margin-top:5px; }
            &:after {width:20px; height:2px; background:black; content:""; display:block; margin-top:5px; }
          }
        }
      }
      //디테일
      &.head-prev {
        border-bottom: 0px;
        .logo_area { justify-content: start;  padding: 18px 20px; border-bottom:1px solid #e0e0e0; background:#fff; 
          .preve_button {
            margin-right: 20px;
            content: "";
            background: url(../img/m-common/img-arrow-prev.png) no-repeat center center;
            background-size: 100%;
            width: 9px;
          }
          .head_title {
            font-size: 16px; font-weight: $font-weight-bold;letter-spacing: -0.4px;
          }
        }
      }

      //클릭시 GNB
      .left_gnb{
        position:fixed; right:0; top:0; width:100%; z-index:20000; height:100%;  transition:all 0.4s; transform: translateX(100%); 
        background:url('../img/m-common/bg-left_gnb.jpg') repeat-y left top;

        .gnb_head { padding:13.5px 20px 25px;
          background-image: linear-gradient(to top, #3d77dc, #4375ea, #3d8eeb);
          .top_area {display:flex; align-items: center;
            .top_left { width:50%; position:relative;
              img {width:100px;  max-width: fit-content !important; max-height: fit-content !important; transform:translate3d(0, 0, 0); }
              .logo_select {position:absolute; top:0; left:0px;
                select {background:url('../img/m-common/left_gnb_logo_select.png') no-repeat right center;
                  width:112px; height:32.6px; padding:0px;
                  background-size:10px 5.5px; text-indent: -99999px;
                }
                img{width:10px; min-width:10px; height:auto;}
              }
            }
            .top_right {display:flex; align-items: center; flex-grow:1; justify-content: flex-end;
              .right_button_group {display:inline-block; margin-right:20px; padding-bottom:5px;
                .link_default {color:white; font-size:12px; font-weight:$font-weight-light; letter-spacing: -0.24px; }
                .bar {display:inline-block; vertical-align: middle; margin:0px 7.5px; width:1px; height:11.5px; background:rgba(245,245,245,0.3);}
              }
              .mgnb_close{display:inline-block; width:20px; height:20px; position:relative;
                &:before {transform:translate(-50%,-50%) rotate(-45deg); width:25px; height:2px; background:white; content:""; display:block; position:absolute; top:50%; left:50%;  }
                &:after {transform:translate(-50%,-50%) rotate(45deg); width:25px; height:2px; background:white; content:""; display:block; position:absolute; top:50%; left:50%;  }
              }
            }
          }
          .hello_area {padding:18px 0px 0px; display:flex;  align-items: center;
            .hello_left {flex-grow:1; width:calc(100% - 68px);
              .ment_sub {margin-bottom:5px; font-size:13px; font-weight:$font-weight-light; color:rgba(255,255,255,0.8); letter-spacing: -0.65px;}
              .ment_main {font-size:20px; font-weight:$font-weight-normal; letter-spacing: -1px; color:#fff;}
            }
            .hello_right {width:calc(136px / 2); height:calc(136px / 2); display:flex; flex-direction: column; align-items: center; justify-content: center; border-radius: 100%; background:rgba(0,0,0,0.1);
              img {width:20px; height:20px;}
              .heelo_text {margin-top:5px; font-size:10px; color:white; font-weight:$font-weight-light; }
            }
          }
          .button_area { display:flex; justify-content: space-between; align-items: center; margin-top:25px;
            .button-default {padding:8px; border-radius: 40px;  font-size:13px; width:49%; text-align:center; color:white; border:1px solid rgba(255,255,255,0.6); }
            .button-auth {padding:8px; border-radius: 40px;  font-size:13px; width:49%; text-align:center; border:1px solid #ff6652; background:#ff6652; color:white;}
          }
        }
        .gnb_menu {display:flex; height:100%; overflow-y:auto;
          .depth1_area {position: relative; width:140px;  padding:10px 0px; background:#f7f7f7;
            .menu_depth1 { margin-bottom:30px;
              li{
                a{display:block; padding:11px 20px; font-size:14px; word-break: keep-all;}
                //galaxy fold 테스트
                  // @media screen and (max-width: 358px) { a { padding-left:5px; padding-right:5px;} }
              }
            }
            .hover_label {padding:6px 15px;  top:12px; left:10px; width:105%;  transition: top 0.1s ease-out; font-size:14px;
              position:absolute;  color:white; display:block; border-radius: 5px; box-shadow: 0px 7px 10.5px 0 rgba(0, 0, 0, 0.18); background-color: #418ac9;
            }
            .menu_side {
              li {
                a {display:block; padding:7px 20px; word-break: keep-all;  font-size:12px; font-weight:$font-weight-light; color:#999;}
              }
            }
          }
          .depth2_area {width:calc(100% - 140px); background:white; 
            .menu_depth2 { display:none; background:white;
              &.show {display:block;}
              li {
                .depth2_link {display:flex; align-items: center;
                  a {font-size:14px; font-weight:$font-weight-light;  padding:12.5px 0px 12.5px 35px;  flex-grow:1;}
                  .arrow_btn {padding:20px;}
                  .arrow {width:9px; height:4.5px; display:block; content:"";cursor:pointer; position:relative;
                    &:after {width:9px; height:2px; background:black; position:absolute;  content:""; display:block; }
                    &:before {width:9px; height:2px; background:black; position:absolute;  content:""; display:block; }
                    &.down {
                      &:after {top:50%; left:50%; transform:translate(-50%,-50%) rotate(-45deg);}
                      &:before {top:50%; left:90%; transform:translate(-140%,-50%) rotate(45deg); }
                    }
                    &.up {
                      &:after {top:50%; left:50%; transform:translate(-50%,-50%) rotate(45deg);}
                      &:before {top:50%; left:90%; transform:translate(-140%,-50%) rotate(-45deg); }
                    }
                    &.right {
                      &:after {top:50%; left:50%; transform:translate(-50%,-50%) rotate(45deg);}
                      &:before {top:165%; left:50%; transform:translate(-50%,-50%) rotate(-45deg); }
                    }
                  }
                }
              }
            }
            .menu_depth3 { margin-top:-10px;
              li{
                a {display:block; font-size:12px; font-weight:$font-weight-light; color:#666; padding:7px 35px; }
              }
            }
          }
        }
      }

      /*half-box (교과학습 1학기 / 2학기 버튼)*/
      .half-box{
        padding: 0 20px;
        margin-top: 23px;
        .btn-default{
        .name{
          color:$gray-12;
        }
          &.active{
            border:1px solid $primary;
           .name{
             color:$primary;
           }
          }
        }

      }


      //1뎁스 타이틀
      .depth1_title {font-size:18px; font-weight:$font-weight-normal; color:#000; letter-spacing: -0.9px; display:flex; justify-content: center; align-items: center; padding:6px; background:white;}
      //2뎁스 타이틀
      .depth2_menu_wrap {height:50px; overflow:hidden; border-bottom:1px solid #e0e0e0;}
      .depth2_menu {overflow: auto; white-space: nowrap; height:70px; text-align:left; padding-left:10px; padding-right:10px;
        li {display:inline-block;
          a {display:inline-block; padding:13px 11px; background:white; margin-right:-3px;
            span{display:inline-block; position:relative; font-size:14px; font-weight:$font-weight-light; letter-spacing: -0.7px; color:#000;}
          }
        &.active {
          & span{color:$primary; font-weight:$font-weight-bold;}
          & span:after {position:absolute; left:50%; bottom:-13px; transform:translateX(-50%); width:100%; height:2px; content:""; display:block; background:$primary;}
        }
        }
      }
      //2뎁스 타이틀 ver2.0
      .depth2_menu_wrap-ver2 {height:50px; border-bottom:1px solid #e0e0e0;}
      .depth2_menu-ver2 {text-align:center;
        li {display:inline-block;
          a {display:inline-block; padding:13px; background:white; margin-right:-3px;
            span{display:inline-block; position:relative; font-size:14px; font-weight:$font-weight-light; letter-spacing: -0.7px; color:#000;}
          }
        &.active {
          & span{color:$primary; font-weight:$font-weight-normal;}
          & span:after {position:absolute; left:50%; bottom:-12px; transform:translateX(-50%); width:100%; height:2px; content:""; display:block; background:$primary;}
        }
        }
      }
      .depth2_menu_wrap-ver2.swiper-container {width:100%; }
      // .swiper-wrapper {outline :1px solid gray;}
      // .swiper-slide{
      //   width: 80px; outline:1px solid red;
      // }

      .m-subcontents_start {height:5px; width:100%; content:""; background:#f7f7f7; }

      //팝업레이어 - 태윤
      .popup_area{
        display: flex;
        height: 60px;
        align-items: center;
        .grade{
          margin-left: 21px;
          font-size: 18px;
          font-weight: $font-weight-bold;
          letter-spacing: -0.4px;
        }

        .back{
          display:inline-block;
          margin-left: 21px;
          width: 9px;
          height: 16px;
          img{
            vertical-align: top;
          }
        }
      }
    }//m-head

    .m-container { min-height:100%; background:white; position:relative;}
    .left_gnb_dimd{width:100%; height:100%; background:white; position:absolute; top:0; left:0; content:""; display:block; z-index:10; background:rgba(0, 0, 0, 0.18);}

    //footer
    .m-footer {padding-bottom:40px; background:white; text-align:center; border-top:1px solid #e0e0e0;
      .sitemap {display:flex; justify-content: center; align-items: center;
        li {
          a {display:block; padding:20px 12px; font-size:13px; font-weight:$font-weight-light; letter-spacing: -0.65px;}
          &.bar {height:13.5px; width:1px; background:#e0e0e0; content:""; display:block;}
        }
      }
      .customercenter {
        .title {margin:8px 14px; font-size:18px; letter-spacing: -0.9px; color:#000; font-weight:$font-weight-normal;}
        .sub {font-size:13px; font-weight:$font-weight-light; letter-spacing: -0.65px; color:#999; margin-bottom:26px;}
      }
      .copyright {font-size:11px; letter-spacing: -0.55px; color:#999; font-weight:$font-weight-light; margin-bottom:20px;}
      .forpc_button {display:inline-block; border-radius: 5px; padding:10px; width:240px; border:1px solid #bbb; font-size:13px; font-weight:$font-weight-normal; color:#666; letter-spacing: -0.65px; }
    }
  }//m-wrap
}//mobile
