<div class="dropdown_area">
  <div class="select-box">
    <div class="select_default _select_default">
      <span class="text">2020. 03. 31 ~ 현재</span>
    </div>
    <ul class="select_list _select_list">
      <li><span>2020. 03. 31 ~ 현재</span></li>
      <li><span>2019. 10. 21 - 2020. 03 .31</span></li>
      <li><span>2018. 10. 26 - 2019. 10 .20</span></li>
      <li><span>2017. 03. 31 - 2018. 10 .25</span></li>
      <li><span>2012. 12. 03 - 2017. 03 .31</span></li>
    </ul>
  </div>
</div>
  <!--클릭시 select box on-->
<!--  <script>
    /*드롭다운 클릭시 이벤트*/
    var selectBox = $(".select_default");

    selectBox.on('click',function() {
      var select = $(this);
      //드롭다운 닫기
      if(select.hasClass('open')) {
        select.removeClass("open").next('._dropdown').slideUp(200).removeClass("open");
      }
      //드롭다운 열기
      else {
        select.addClass("open").next('._dropdown').slideDown(200).addClass("open");
        $('body').on('click',function (e){
          if(selectBox.hasClass('open')) {
            if(!selectBox.has(e.target).length) {
              selectBox.removeClass("open").next('._dropdown').slideUp(200).removeClass("open");
            }
          }
          e.preventDefault()
        })
      }
    });

    $("._dropdown a").on('click',function() {
      var option = $(this).find('span').text();
      console.log(option)
      $('._select_box .select_default').find('span').text(option);
    });
  </script>-->
