/*
|----------------------------------|
 v.0.1 (주연) 최초 작업 -- 2021.09.01
|----------------------------------|
*/
$min-width: 1244px;

.macrogen {
  /* s 공통 */
  .badge {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    letter-spacing: -0.75px;
    color: $gray-909090;
    border: 1px solid $line-d9d9d9;
    border-radius: 3px;
    margin-left: 15px;
  }

  .color-white {
    color: $gray-ffffff !important;
  }
  /* e 공통 */

  &.full-bg {
    position: relative;
    background-image: url(../img/@temp/macrogen/macrogen_bg_1.png);
    background-size: 1920px 980px;
    background-position: center;

    .frame {
      position: relative;
      height: calc(980px - 124px);

      .hero-title {
        margin-bottom: 160px;
        line-height: 58px;
        letter-spacing: -2px;
      }

      .slogan {
        &.ko {
          font-size: 80px;
          line-height: 98px;
          letter-spacing: -6px;
        }
      }

      .slogan-sub {
        line-height: 38px;
      }

      &.frameC {
        height: auto;
      }
    }

    .scroll-wrap {
      position: absolute;
      bottom: 100px;
      left: 0;

      .scroll {
        position: absolute;
        width: 2px;
        height: 100px;
        background-color: rgba(255, 255, 255, 0.2);

        .bar {
          position: absolute;
          width: 2px;
          height: 60px;
          background-color: #fff;
          bottom: 0;
          left: 0;
        }

        &::after {
          content: '';
          position: absolute;
          top: -14px;
          left: -1px;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: #fff;
        }
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(14, 22, 33, 0.45);
    }

    &.no-bg {
      background-image: none;

      &::before {
        content: none;
      }
    }
  }

  &.company-overview {
    .section-info {
      padding-top: 180px;
      margin-bottom: 152px;

      .title {
        width: $min-width;
        font-weight: 700;
        font-size: 92px;
        line-height: 86px;
        align-items: center;
        letter-spacing: -0.5px;
        text-transform: uppercase;
        margin: 0 auto 28px;
      }

      .title-sm {
        width: $min-width;
        font-size: 26px;
        line-height: 38px;
        letter-spacing: -0.75px;
        margin: 0 auto 100px;
      }

      .text-box {
        display: flex;
        justify-content: flex-end;
        width: $min-width;
        margin: 0 auto 108px;

        .text {
          display: inline-block;
          text-align: left;
          width: 495px;
          font-size: 18px;
          line-height: 32px;
          letter-spacing: -0.75px;
          color: #454545;

          &:first-child {
            margin-right: 40px;
          }
        }
      }

      .img-box {
        .bg {
          @include background-img($width: 100%, $height: 602px, $category: '@temp/macrogen', $img: 'macrogen_thumb_lg_1.png');
          background-size: 1370px 602px;
          background-position: top right;
          background-repeat: no-repeat;
          padding-top: 139px;

          .list {
            width: $min-width;
            margin: 0 auto;
            padding-left: 379px;

            li {
              position: relative;
              font-weight: 700;
              font-size: 36px;
              line-height: 52px;
              letter-spacing: -1px;
              color: $gray-ffffff;
              margin-bottom: 22px;

              &::before {
                content: '';
                position: absolute;
                width: 30px;
                height: 4px;
                background-color: $gray-ffffff;
                left: -48px;
                top: 22px;
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    .section-overview {
      width: 100%;
      height: 1375px;
      background-color: $bg-f7f7f7;
      padding-top: 150px;

      .inner {
        width: $min-width;
        margin: 0 auto;
      }

      .title-sm {
        font-weight: 700;
        font-size: 32px;
        line-height: 46px;
        letter-spacing: -1px;
        margin-bottom: 50px;
      }

      .year {
        position: relative;
        display: inline-block;
        font-weight: 700;
        font-size: 110px;
        line-height: 112px;
        text-transform: uppercase;
        margin-bottom: 20px;

        &::after {
          content: '';
          position: absolute;
          width: 80px;
          height: 6px;
          background-color: $bg-000000;
          right: -89px;
          bottom: 24px;
        }
      }

      .desc {
        font-size: 18px;
        line-height: 32px;
        letter-spacing: -0.75px;
        color: $gray-454545;
        margin-bottom: 100px;
      }

      .overview-list {
        padding-left: 217px;

        .item {
          float: left;
          width: 200px;
          margin-right: 74px;
          text-align: center;

          .img {
            display: block;
            width: 100%;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 22px;

            img {
              @include img-100;
            }
          }

          .val {
            display: block;
            font-weight: 700;
            font-size: 44px;
            line-height: 54px;
            white-space: nowrap;
          }

          .desc {
            display: block;
            white-space: nowrap;
            font-size: 18px;
            line-height: 26px;
            text-align: center;
            letter-spacing: -0.75px;
          }

          &:nth-child(4n) {
            margin-right: 0;
          }
        }
      }
    }

    .section-business {
      position: relative;
      @include background-img($width: 100%, $height: 920px, $category: '@temp/macrogen', $img: 'macrogen_thumb_lg_2.png');
      background-size: 1920px 920px;
      background-repeat: no-repeat;
      padding-top: 150px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
      }

      .inner {
        position: relative;
        width: $min-width;
        margin: 0 auto;
        z-index: 1;
      }

      .title-sm {
        font-weight: 700;
        font-size: 32px;
        line-height: 46px;
        letter-spacing: -1px;
        color: $gray-ffffff;
        margin-bottom: 50px;
      }

      .title {
        font-weight: 700;
        font-size: 56px;
        line-height: 81px;
        letter-spacing: -3px;
        color: $gray-ffffff;
        margin-bottom: 20px;
      }

      .desc {
        font-size: 18px;
        line-height: 32px;
        letter-spacing: -0.75px;
        color: $gray-ffffff;
        margin-bottom: 80px;
      }

      .category-list {
        li {
          position: relative;
          float: left;
          width: 194px;
          height: 145px;
          text-align: center;

          &:last-child {
            &::after {
              content: none;
            }
          }

          &::after {
            content: '';
            position: absolute;
            width: 1px;
            height: 145px;
            right: 0;
            top: 0;
            background-color: rgba(255, 255, 255, .1);
          }

          .img {
            width: 86px;
            height: 86px;
            margin: 0 auto 32px;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .tit {
            font-weight: 700;
            font-size: 22px;
            line-height: 27px;
            letter-spacing: 0.5px;
            color: $gray-ffffff;
          }
        }
      }
    }

    .section-business-detail {
      position: relative;
      width: 1210px;
      height: 1858px;
      margin: -163px auto 150px;

      .item {
        position: absolute;
        width: 560px;

        .img {
          position: relative;
          width: 535px;
          height: 560px;
          margin-bottom: 40px;

          &::after {
            content: '';
            position: absolute;
            width: 435px;
            height: 1px;
            left: 50px;
            bottom: 156px;
            background-color: rgba(255, 255, 255, .2);
          }

          img {
            width: 100%;
            height: 100%;
          }

          .title-sm {
            position: absolute;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: $gray-ffffff;
            bottom: 104px;
            left: 52px;
          }

          .title {
            position: absolute;
            font-weight: 700;
            font-size: 44px;
            line-height: 64px;
            letter-spacing: -2px;
            color: $gray-ffffff;
            bottom: 40px;
            left: 50px;
          }
        }

        .desc {
          font-weight: 700;
          font-size: 22px;
          line-height: 32px;
          letter-spacing: -0.75px;
          margin-bottom: 20px;
        }

        .desc-sm {
          font-size: 16px;
          line-height: 30px;
          letter-spacing: -0.75px;
          color: $gray-454545;
        }

        &.item-1 {
          top: 0;
          left: 0;
        }

        &.item-2 {
          right: 0;
          top: 243px;
        }

        &.item-3 {
          top: 903px;
          left: 0;
        }

        &.item-4 {
          right: 0;
          top: 1116px;
        }
      }
    }

    .section-ci {
      position: relative;
      @include background-img($width: 100%, $height: 560px, $category: '@temp/macrogen', $img: 'sample_thumb_ractangle_1.png');
      background-size: 1920px 560px;
      background-repeat: no-repeat;
      padding-top: 150px;

      .inner {
        width: $min-width;
        margin: 0 auto;
      }

      .title-sm {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0.5px;
        color: $gray-ffffff;
        margin-bottom: 40px;
      }

      .text {
        font-weight: 700;
        font-size: 56px;
        line-height: 81px;
        letter-spacing: -3px;
        color: $gray-ffffff;
      }
    }

    .section-symbol {
      margin-top: 120px;

      .inner {
        width: $min-width;
        margin: 0 auto;
      }

      .item {
        overflow: hidden;
        margin-bottom: 150px;

        &:last-child {
          margin-bottom: 0;
        }

        .title {
          float: left;
          width: 318px;
          font-weight: 700;
          font-size: 22px;
          line-height: 27px;
          letter-spacing: 0.5px;
        }

        .desc {
          float: left;
          width: calc(100% - 318px);

          .bg-logo {
            @include background-img($width: 923px, $height: 475px, $category: 'macrogen', $img: 'box-logo.svg');
            border: 1px solid $line-d9d9d9;
            padding-top: 110px;
            padding-left: 127px;
            margin-bottom: 40px;

            img {
              width: 673px;
              height: 252px;
            }
          }

          .content {
            font-size: 18px;
            line-height: 32px;
            letter-spacing: -0.75px;
            color: $gray-454545;
            margin-bottom: 59px;
          }

          .download-area {
            .btn-download {
              display: inline-block;

              span {
                display: inline-block;
                vertical-align: middle;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: $gray-000000;

                &:first-child {
                  margin-right: 15px;
                }
              }
            }
          }

          .color-list {
            overflow: hidden;

            li {
              float: left;
              width: 212px;
              height: 270px;

              .color {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                margin: 0 auto 30px;

                &.color-1 {
                  background-color: #001E62;
                }

                &.color-2 {
                  background-color: #00BFB2;
                }

                &.color-3 {
                  background-color: #84BD00;
                }

                &.color-4 {
                  background-color: #E50050;
                }
              }

              .value {
                padding-left: 19px;

                span:first-child {
                  display: inline-block;
                  width: 49px;
                  font-weight: 700;
                  font-size: 16px;
                  line-height: 30px;
                  color: $gray-454545;
                  margin-right: 30px;
                }

                span:nth-child(2) {
                  display: inline-block;
                  font-size: 16px;
                  line-height: 30px;
                  color: $gray-454545;
                }
              }
            }
          }
        }
      }
    }
  }

  &.macrogen-authorization {
    .slide-tab-wrap {
      margin-top: 153px;
      margin-bottom: 139px;
    }

    .section {
      margin-bottom: 120px;
      border-bottom: 10px solid #f5f5f5;

      &:last-child {
        border-bottom: 0;
        margin-bottom: 0;

        .box:last-child {
          padding-bottom: 0;
        }
      }

      .btn-sm {
        padding: 7px 25px 5px;
        min-width: 124px;
      }

      > .title {
        font-weight: 700;
        font-size: 56px;
        line-height: 81px;
        letter-spacing: -3px;
        color: $gray-000000;

        .tooltip-box {
          display: inline-block;
          vertical-align: text-bottom;

          .text-box {
            top: 66px;
          }
        }
      }

      .title-sm {
        font-weight: 700;
        font-size: 32px;
        line-height: 46px;
        letter-spacing: -1px;
        color: $gray-000000;
        margin-bottom: 16px;

        span {
          display: inline-block;
          vertical-align: middle;
        }

        > div {
          display: inline-block;
          vertical-align: text-bottom;
        }
      }

      .desc {
        display: block;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: -0.75px;
        color: $gray-454545;
        margin-bottom: 30px;

        &.with-date {
          margin-bottom: 10px;
        }
      }

      .date {
        display: block;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.75px;
        color: $gray-909090;
        margin-bottom: 30px;
      }

      .img-wrap {
        padding-top: 30px;
        overflow: hidden;

        .img {
          float: left;
          width: 381px;
          height: auto;
          text-align: center;
          margin-right: 43px;
          margin-bottom: 0;

          &:first-child,
          &:nth-child(2),
          &:nth-child(3) {
            margin-bottom: 70px;

            .tit {
              padding-top: 30px;
            }
          }

          .tit {
            display: block;
            width: 100%;
            font-weight: 700;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: -0.75px;
            color: $gray-000000;
            text-align: left;
            margin-bottom: 20px;
          }

          img {
            display: block;
            width: 100%;
            height: 233px;
            margin-bottom: 23px;
          }

          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }

      .img {
        width: 381px;
        height: 233px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      > .box {
        padding: 80px 0;
        border-bottom: 1px solid $line-e9e9e9;

        &::after {
          content: '';
          display: block;
          clear: both;
        }

        &:last-child {
          border-bottom: 0;
        }

        &.box-full-sm {
          margin-top: 20px;

          &.box-full {
            padding-bottom: 120px;
          }

          .desc {
            margin-bottom: 0;
          }
        }

        &.box-full {
          padding-bottom: 80px;

          .left {
            float: none;
            width: 100%;
            margin-right: 0;
          }
        }

        .left {
          float: left;
          width: 816px;
          margin-right: 44px;
        }

        .right {
          float: left;
          width: calc(100% - 816px - 44px);
        }
      }
    }

    .tooltip-box {
      .text-box {
        top: 46px;
      }
    }
  }

  &.recruitment-info {
    .section {
      padding-bottom: 100px;
      border-bottom: 1px solid #e9e9e9;
      margin-bottom: 100px;

      .btn-sm {
        padding: 7px 25px 5px;
        min-width: 124px;
      }

      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
        margin-bottom: 0;
      }

      > .title {
        font-weight: 700;
        font-size: 36px;
        line-height: 52px;
        letter-spacing: -1px;
        color: $gray-000000;
      }

      > .desc {
        font-size: 16px;
        line-height: 30px;
        letter-spacing: -0.75px;
        color: $gray-707070;
        margin-top: 15px;
        margin-bottom: 60px;
      }

      .select-box {
        margin-top: 62px;
        margin-bottom: 33px;

        .form-select {
          width: 125px;
          color: $gray-000000;
          padding-left: 30px;
          font-size: 18px;
          border-bottom: 0;
        }
      }

      .img-recruitment-info {
        margin-top: 60px;
        width: 1244px;
        height: 307px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .file-download {
        padding-bottom: 20px;

        .item {
          .title {
            color: $gray-454545;
          }
        }

        .icon {
          margin-right: 40px;
        }
      }

      .attachment-box {
        position: relative;
        padding: 30px 30px 26px 144px;
        background-color: $bg-f7f7f7;

        .file {
          display: inline-block;
          font-weight: 700;
          font-size: 18px;
          line-height: 30px;
          letter-spacing: -0.5px;
          color: $gray-454545;
          margin-right: 40px;
          max-width: 1060px;
          @include ellipsis($line: 1);
        }

        &::after {
          content: '';
          position: absolute;
          width: 1px;
          height: 21px;
          left: 104px;
          top: 50%;
          transform: translateY(-50%);
          background-color: $line-e9e9e9;
        }

        &::before {
          content: '';
          position: absolute;
          left: 40px;
          top: 50%;
          transform: translateY(-50%);
          @include background-img($width: 24px, $height: 24px, $category: 'macrogen', $img: 'ic-attach.svg');
        }
      }

      .board {
        .detail {
          .heading {
            .department {
              font-weight: 700;
              font-size: 26px;
              line-height: 38px;
              letter-spacing: -0.75px;
              color: $gray-000000;
              margin-bottom: 6px;
            }

            &.with-badge {
              position: relative;

              .title {
                width: calc(100% - 110px);
              }

              .badge-recruit {
                top: 0;
                right: 0;
                transform: none;
              }
            }
          }
        }
      }
    }
  }

  &.global-macrogen {
    .section-map {
      padding-top: 151px;
      margin-bottom: 150px;

      > .title {
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        letter-spacing: 0.5px;
        color: $gray-000000;
        margin-bottom: 21px;
      }

      > .desc {
        font-size: 18px;
        line-height: 32px;
        letter-spacing: -0.75px;
        color: $gray-000000;
        margin-bottom: 120px;
      }

      .map {
        position: relative;
        @include background-img($width: 1244px, $height: 608px, $category: 'macrogen', $img: 'bg-map.svg');

        .pin {
          position: absolute;
          padding: 0 16px 0 40px;
          height: 38px;
          line-height: 36px;
          background-color: #FFFFFF;
          border: 1px solid $line-c9c9c9;
          box-sizing: border-box;
          box-shadow: 0 8px 8px rgba(0, 0, 0, 0.08);
          border-radius: 100px;
          font-weight: 700;
          font-size: 13px;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: $gray-000000;
          background-image: url(../img/macrogen/ic-pin.svg);
          background-size: 16px 16px;
          background-position: left 16px center;
          background-repeat: no-repeat;

          &:hover, &.active {
            background-color: $point-active;
            border-color: $point-active;
            box-shadow: 0 25px 20px rgba(0, 0, 0, 0.2);
            color: $gray-ffffff;
            background-image: url(../img/macrogen/ic-pin-foc.svg);
          }

          &.amsterdam {
            top: 76px;
            left: 71px;
          }

          &.seoul {
            top: 76px;
            left: 512px;
          }

          &.boston {
            top: 76px;
            left: 854.5px;
          }

          &.tokyo {
            top: 134px;
            left: 587.5px;
          }

          &.virginia {
            top: 134px;
            left: 794px;
          }

          &.madrid {
            top: 192px;
            left: 5.5px;
          }

          &.kyoto {
            top: 192px;
            left: 492.5px;
          }

          &.newyork {
            top: 192px;
            left: 932.5px;
          }

          &.synapse {
            top: 250px;
            left: 358px;
          }

          &.rockville {
            top: 250px;
            left: 846px;
          }
        }
      }
    }

    .section-map-detail {
      .box {
        overflow: hidden;
        padding-bottom: 140px;
        border-bottom: 1px solid $line-e9e9e9;
        margin-bottom: 140px;

        &:last-child {
          padding-bottom: 0;
          border-bottom: 0;
          margin-bottom: 0;
        }

        > .title {
          float: left;
          width: 281px;
          font-weight: 700;
          font-size: 56px;
          line-height: 81px;
          letter-spacing: -3px;
        }

        > .detail {
          float: left;
          width: calc(100% - 281px);

          .item {
            margin-bottom: 120px;

            &:last-child {
              margin-bottom: 0;
            }

            .name {
              font-weight: 700;
              font-size: 36px;
              line-height: 52px;
              letter-spacing: -1px;
              margin-bottom: 40px;
            }

            .img {
              width: 923px;
              height: 420px;
              margin-bottom: 30px;

              img {
                width: 100%;
                height: 100%;
              }
            }

            .info {
              ul {
                margin-bottom: 20px;

                li {
                  margin-bottom: 8px;

                  &:last-child {
                    margin-bottom: 0;
                  }

                  span {
                    display: inline-block;
                    vertical-align: middle;
                    line-height: 32px;

                    &:first-child {
                      position: relative;
                      vertical-align: middle;
                      font-weight: 700;
                      font-size: 18px;
                      letter-spacing: -0.75px;
                      padding-left: 13px;
                      margin-right: 15px;

                      &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 12px;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: $bg-000000;
                        vertical-align: middle;
                      }
                    }

                    &:nth-child(2) {
                      font-size: 18px;
                      line-height: 32px;
                      letter-spacing: -0.75px;
                    }
                  }
                }
              }

              .address {
                font-size: 16px;
                line-height: 30px;
                letter-spacing: -0.75px;
                color: $gray-707070;
                margin-bottom: 8px;
              }

              .tel {
                span {
                  font-weight: bold;
                  font-size: 16px;
                  line-height: 30px;
                  color: $gray-707070;
                  margin-right: 8px;
                }

                a {
                  font-size: 16px;
                  line-height: 30px;
                  color: $gray-707070;
                  margin-right: 41px;

                  &:last-child {
                    margin-right: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.ethical-management {
    .btn-sm {
      padding: 7px 25px 5px;
      min-width: 124px;
    }

    .section {
      padding: 150px 0;

      &:last-child {
        padding-bottom: 0;
      }

      .inner {
        position: relative;
        width: 1244px;
        margin: 0 auto;
        z-index: 1;
      }

      .text-lg {
        font-weight: bold;
        font-size: 56px;
        line-height: 81px;
        letter-spacing: -3px;
        color: $gray-000000;
        margin-bottom: 28px;
      }

      .text-md {
        font-weight: 700;
        font-size: 44px;
        line-height: 64px;
        letter-spacing: -2px;
        color: $gray-000000;
        margin-bottom: 20px;
      }

      .desc {
        font-size: 18px;
        line-height: 32px;
        letter-spacing: -0.75px;
        color: $gray-000000;
      }

      .content {
        margin-top: 150px;
        width: 1137px;

        li {
          float: left;
          width: 281px;
          height: 186px;
          margin-right: 147px;
          margin-bottom: 100px;

          &:nth-child(3n) {
            margin-right: 0;
          }

          .tit {
            font-weight: bold;
            font-size: 32px;
            line-height: 46px;
            letter-spacing: -1px;
            color: $gray-ffffff;
          }

          .desc {
            font-size: 16px;
            line-height: 30px;
            letter-spacing: -0.75px;
            color: $gray-ffffff;
          }
        }
      }

      .row {
        margin-left: 0;
        padding-right: 0;
        margin-bottom: 10px;

        > * {
          padding-left: 5px;
          padding-right: 5px;
        }
      }

      .subject-to-report {
        padding-bottom: 120px;
        margin-top: 120px;
        margin-bottom: 120px;
        border-bottom: 1px solid $line-e9e9e9;

        .col {
          .tit {
            position: relative;
            font-weight: bold;
            font-size: 32px;
            line-height: 46px;
            letter-spacing: -1px;
            color: $gray-000000;
            margin-bottom: 15px;

            &::after {
              content: '';
              position: absolute;
              width: 40px;
              height: 4px;
              background-color: $bg-000000;
              left: 123px;
              bottom: 15px;
            }
          }

          .desc {
            font-size: 16px;
            line-height: 30px;
            letter-spacing: -0.75px;
            color: $gray-666666;
          }

          .item {
            background-color: $bg-f7f7f7;
            height: 160px;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: -0.75px;
            color: $gray-454545;
            padding: 40px;
          }
        }
      }

      .subject-to-report-step {
        .item {
          display: flex;
          height: 261px;
          margin-bottom: 120px;

          &:last-child {
            margin-bottom: 0;
          }

          .img {
            position: relative;
            width: 261px;
            height: 261px;
            border-radius: 50%;

            .label {
              position: absolute;
              width: 40px;
              height: 40px;
              line-height: 41px;
              top: 85px;
              left: 50%;
              transform: translateX(-50%);
              border-radius: 50%;
              background-color: $bg-ffffff;
              font-weight: bold;
              font-size: 18px;
              text-align: center;
              color: $gray-000000;
            }

            .tit {
              position: absolute;
              top: 135px;
              left: 50%;
              transform: translateX(-50%);
              font-weight: bold;
              font-size: 32px;
              line-height: 46px;
              text-align: center;
              letter-spacing: -1px;
              color: #FFFFFF;
              text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
          }

          .info {
            display: flex;
            width: calc(100% - 261px);
            height: 261px;
            justify-content: center;
            flex-direction: column;
            padding-left: 60px;

            .desc {
              font-weight: bold;
              font-size: 32px;
              line-height: 46px;
              letter-spacing: -1px;
              margin-bottom: 0;
            }

            .tip {
              position: relative;
              font-size: 18px;
              line-height: 32px;
              letter-spacing: -0.75px;
              color: $gray-909090;
              padding-left: 27px;
              margin-top: 20px;

              &::after {
                content: '';
                position: absolute;
                @include background-img ($width: 20px, $height: 20px, $category: 'macrogen', $img: 'ic-tip.svg');
                left: 0;
                top: 3px;
              }
            }

            .link {
              font-weight: bold;
              font-size: 18px;
              line-height: 26px;
              letter-spacing: -0.75px;
              color: $point-primary;
              margin-top: 40px;
              text-decoration: underline;
            }

            .desc-sm {
              font-weight: bold;
              font-size: 18px;
              line-height: 26px;
              letter-spacing: -0.75px;
              color: $point-primary;
              margin-top: 40px;
            }

            .desc-xs {
              font-size: 16px;
              line-height: 30px;
              letter-spacing: -0.75px;
              color: $gray-454545;
              margin-top: 10px;
            }
            ul {
              margin-top: 40px;

              li {
                margin-bottom: 10px;

                &:last-child {
                  margin-bottom: 0;
                }

                span {
                  display: inline-block;

                  &:first-child {
                    position: relative;
                    width: 174px;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 30px;
                    letter-spacing: -0.75px;
                    color: $gray-000000;
                    padding-left: 15px;

                    &::before {
                      content: '';
                      position: absolute;
                      width: 5px;
                      height: 5px;
                      left: 0;
                      top: 12px;
                      background-color: $bg-000000;
                    }
                  }
                  &:nth-child(2) {
                    font-size: 16px;
                    line-height: 30px;
                    letter-spacing: -0.75px;
                    color: $gray-454545;
                  }
                }
              }
            }
          }
        }
      }

      &.section-bg {
        position: relative;
        @include background-img($width: 100%, $height: 1180px, $category: 'macrogen', $img: 'bg-sub-ethical-management.svg');
        background-size: 1920px 1180px;
        background-repeat: no-repeat;

        .text-lg {
          margin-bottom: 20px;
        }

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(100, 109, 118, 0.35) 0%, rgba(42, 76, 83, 0.7) 100%);
        }
      }
    }

    .section-banner {
      @include background-img($width: 100%, $height: 560px, $category: 'macrogen', $img: 'bg-ethical-banner-1.svg');
      background-size: 1920px 560px;
      background-repeat: no-repeat;
      padding-top: 240px;

      .inner {
        position: relative;
        width: 1244px;
        margin: 0 auto;
        z-index: 1;
      }

      .font-slogan {
        line-height: 98px;
        margin-bottom: 30px;
      }

      .desc {
        font-weight: bold;
        font-size: 32px;
        line-height: 46px;
      }
    }

    .section-reward {
      padding-top: 120px;
      padding-bottom: 150px;

      .inner {
        position: relative;
        width: 1244px;
        margin: 0 auto;
        z-index: 1;
      }

      .list {
        .item {
          padding: 100px 0;
          border-bottom: 1px solid $line-e9e9e9;
          margin-bottom: 100px;

          &::after {
            content: '';
            display: block;
            clear: both;
          }

          &:first-child {
            padding-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
          }

          .list-header {
            float: left;
            width: calc(100% - 816px);

            .title {
              font-weight: bold;
              font-size: 56px;
              line-height: 81px;
              letter-spacing: -3px;
              color: $gray-000000;
              margin-bottom: 40px;
            }

            .btn-wrap {}
          }

          .list-body {
            float: left;
            width: 816px;

            .desc {}
            .reward {
              .swiper-slide {
                .box {
                  .img {}
                  .info {
                    .sub {}
                    .name {}
                    .job {}
                    .career {
                      .tit {}
                      ul {
                        li {}
                      }
                    }
                    .btn-wrap {}
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
