<div class="board">
    <div class="slider">
        <div class="swiper-container text-slider _textSlider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#">
                        <div class="info">
                            <div class="tit">마크로젠 ‘헬시송도’<br/> 프로젝트, 암·고혈압<br/> 등 주요 질병 위험…</div>
                            <div class="cont">국내 최초로 시행되는 ‘개인 유전자 분석 검사(이하 DTC 유전자 검사) 실증 연구(이하 헬시송도 프로젝트)’에
                                한 달 만에 500여 명의 신청자가 모였다. 정밀의학 생명공학기업 마크로젠(대표이사 이수강)은 오는 9월 …
                            </div>
                            <div class="date">2021.07.15</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <div class="info">
                            <div class="tit">마크로젠 ‘헬시송도’<br/> 프로젝트, 암·고혈압<br/> 등 주요 질병 위험…</div>
                            <div class="cont">국내 최초로 시행되는 ‘개인 유전자 분석 검사(이하 DTC 유전자 검사) 실증 연구(이하 헬시송도 프로젝트)’에
                                한 달 만에 500여 명의 신청자가 모였다. 정밀의학 생명공학기업 마크로젠(대표이사 이수강)은 오는 9월 …
                            </div>
                            <div class="date">2021.07.15</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <div class="info">
                            <div class="tit">마크로젠 ‘헬시송도’<br/> 프로젝트, 암·고혈압<br/> 등 주요 질병 위험…</div>
                            <div class="cont">국내 최초로 시행되는 ‘개인 유전자 분석 검사(이하 DTC 유전자 검사) 실증 연구(이하 헬시송도 프로젝트)’에
                                한 달 만에 500여 명의 신청자가 모였다. 정밀의학 생명공학기업 마크로젠(대표이사 이수강)은 오는 9월 …
                            </div>
                            <div class="date">2021.07.15</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="pagination-wrap">
                <ul class="navigation">
                    <li class="page-item prev">
                        <a class="page-link" href="#">
                            <span class="sr-only">이전</span>
                        </a>
                    </li>
                    <li class="page-item next">
                        <a class="page-link" href="#">
                            <span class="sr-only">다음</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="swiper-container image-slider _imageSlider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#">
                        <img src="../../img/@temp/big-thumb.png" alt="보도자료">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="../../img/@temp/tumb-01.png" alt="보도자료">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="../../img/@temp/tumb-02.png" alt="보도자료">
                    </a>
                </div>
            </div>
            <!--  <div class="swiper-pagination"></div>-->
        </div>
        <script>
            var imageSwiper = new Swiper("._imageSlider", {
                /*  pagination: {
                      el: ".swiper-pagination",
                      clickable : true,
                  },*/
                navigation: {
                    nextEl: '.page-item.next',
                    prevEl: '.page-item.prev',
                },
            });

            var textSwiper = new Swiper("._textSlider", {
                navigation: {
                    nextEl: '.page-item.next',
                    prevEl: '.page-item.prev',
                },
            });
        </script>
    </div>
</div>
