<div class="business">
    <div class="slider">
        <div class="swiper-container _businessSlider">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-color: rgba(255,0,0,.3)">
                    <div class="title">NGS</div>
                    <div class="desc">
                        모든 유전자의 집합체인 유전체를 무수히 많은 조각으로 나눠서 읽은 후,<br/>
                        얻어진 염기서열 조각을 조립하여 전체 유전체의 서열을 분석하는 방법입니다
                    </div>
                </div>
                <div class="swiper-slide" style="background-color: rgba(255,0,0,.3)">
                    <div class="title">GEM </div>
                    <div class="desc">
                        인간 유전자의 기능을 밝히기 위한 목적으로 유전자 편집 기술을 이용해<br/>
                        특정 유전자를 삽입 또는 제거하거나 변형한 실험용 마우스를 생산 및 공급하는 서비스입니다
                    </div>
                </div>
                <div class="swiper-slide" style="background-color: rgba(255,0,0,.3)">
                    <div class="title">NGS</div>
                    <div class="desc">
                        모든 유전자의 집합체인 유전체를 무수히 많은 조각으로 나눠서 읽은 후,<br/>
                        얻어진 염기서열 조각을 조립하여 전체 유전체의 서열을 분석하는 방법입니다
                    </div>
                </div>
                <div class="swiper-slide" style="background-color: rgba(255,0,0,.3)">
                    <div class="title">CES</div>
                    <div class="desc">
                        생화학적 방법을 이용하여 DNA염기서열을 분석하는 서비스로서<br/>
                        다양한 연구목적으로 활용됨으로써 생명공학산업 발전에 주요한 밑거름이 되고 있습니다
                    </div>
                </div>
                <div class="swiper-slide" style="background-color: rgba(255,0,0,.3)">
                    <div class="title">Microarray</div>
                    <div class="desc">
                        눈에 보이지 않는 미세한 probe들을 chip에 배열시킨 후 여기에 DNA, RNA, 단백질 등을 반응시킴으로써<br/>
                        유전자의 발현패턴을 측정하고 변이여부 등을 확인할 수 있는 기술입니다
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var swiper = new Swiper("._businessSlider", {
            slidesPerView: "auto",
            centeredSlides: true,
            loop: true,
            spaceBetween: 20,
        });
    </script>
</div>
