<!--footer 수정시 메인 footer 같이 수정해주세요-->

<footer class="footer">
    <div class="inner">
        <div class="section_information">
            <div class="title font-bold">
                <p>MACROGEN</p>
            </div>
            <div class="info">
                <ul class="text">
                    <li>
                        <ul class="terms clearfix">
                            <li><span class="font-medium"><a href="#">서비스 신청&#47;견적 문의</a></span></li>
                            <li><span class="font-medium"><a href="#">개인정보취급방침</a></span></li>
                            <li><span class="font-medium"><a href="#">내부정보관리규정</a></span></li>
                            <li><span class="font-medium"><a href="#">영상정보처리기기 운영&#46;관리방침</a></span></li>
                            <li><span class="font-medium"><a href="#">Contact us</a></span></li>
                        </ul>
                    </li>
                    <li><span>서울특별시 강남구 테헤란로 238 &#40;마크로젠빌딩&#41;</span><span>대표번호 &#58; 02&#45;2180&#45;7000</span></li>
                    <li><span>&#169;Macrogen&#44; Inc&#46; All Rights Reserved&#46;</span></li>
                </ul>
            </div>
        </div>

        <div class="section_familysite">
            <div class="family-box">
                <a href="#" class="select_site _select_site"><span class="text">FAMILY SITE</span></a>
                <div class="popup_box _popup_box">
                    <a href="https://thebiome.life/" target="_blank" class="list"><span class="text">더바이옴</span></a>
                    <a href="https://www.my-genomestory.com/" target="_blank" class="list"><span class="text">마이지놈스토리</span></a>
                    <a href="https://www.mypetgene.com/main/main.php" target="_blank" class="list"><span class="text">마이펫진</span></a>
                    <a href="https://psomagen.com/" target="_blank" class="list"><span class="text">소마젠(Psomagen)</span></a>
                    <a href="https://www.macrogen-japan.co.jp/" target="_blank" class="list"><span class="text">마크로젠 일본</span></a>
                    <a href="https://www.macrogen-europe.com" target="_blank" class="list"><span class="text">마크로젠 유럽</span></a>
                    <a href="https://www.macrogen-apac.com/" target="_blank" class="list"><span class="text">마크로젠 싱가포르</span></a>
                    <a href="http://gmi.ac.kr/index.php" target="_blank" class="list"><span class="text">유전체의학연구소</span></a>
                    <a href="http://www.g2if.org/" target="_blank" class="list"><span class="text">공우생명정보재단</span></a>
                </div>
            </div>
            <script>
                $('.popup_box').hide();
                $('._select_site').click(function(){
                    if ($(this).hasClass('open') == true){
                        $(this).removeClass('open');
                        $(this).next().slideUp(200);
                    }else {
                        $(this).addClass('open');
                        $(this).next().slideDown(200);
                    }
                });
            </script>
        </div>

        <div class="section_sns">
            <ul class="sns clearfix">
                <li class="facebook"><a href="https://www.facebook.com/macrogenkr/" target="_blank"></a></li>
                <li class="youtube"><a href="https://www.youtube.com/channel/UCT1qyaOiPM7syCEC_T8jmTw" target="_blank"></a></li>
                <li class="blog"><a href="https://blog.naver.com/macrogen_official" target="_blank"></a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/macrogen" target="_blank"></a></li>
            </ul>
        </div>
    </div>
</footer>
