<div class="media">
    <div class="slider">
        <div class="slider-navigation">
            <a href="#" class="btn btn-circle btn-white btn-sm _btnPrev"><i class="icon icon-arrow-left-sm"></i></a>
            <a href="#" class="btn btn-circle btn-white btn-sm _btnNext"><i class="icon icon-arrow-right-sm"></i></a>
        </div>
        <div class="swiper-container _mediaSlider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="img"><img src="../../../img/@temp/tumb-01.png" alt=""></div>
                    <div class="content">마이크로브앤미코어 런칭을 널~리널리 알려주세요. 지금 보고 계신 게시글 하단의 공유하기를 눌러, 자신의 계정에 공유해주세요. 선착순 100분께 스타벅스 ...</div>
                    <div class="date">2021.07.21</div>
                </div>
                <div class="swiper-slide">
                    <div class="img"><img src="../../../img/@temp/tumb-09.png" alt=""></div>
                    <div class="content">Macrogen Clinical diagnostics services for each and every one. We unravel individuals' secrets.
                        We find solutions for diseases. At Macrogen, ...</div>
                    <div class="date">2021.07.21</div>
                </div>
                <div class="swiper-slide">
                    <div class="img"><img src="../../../img/@temp/tumb-08.png" alt=""></div>
                    <div class="content">우리 집 댕댕이, 유전질환이 있는 견종이라고?
                        반려동물에게도 발생할 수 있는 유전질환, 미리 알아보고 예방할 수 있다면 좋겠죠.</div>
                    <div class="date">2021.07.21</div>
                </div>
                <div class="swiper-slide">
                    <div class="img"><img src="../../../img/@temp/tumb-07.png" alt=""></div>
                    <div class="content">코로나와 맞서 싸운 마크로젠, 그 1년 반의 시간.
                        국내 코로나19 바이러스가 상륙한 이후 약 한 달 뒤, 마크로젠은 서울대병원 호흡기내과 공동 연구팀과 공...</div>
                    <div class="date">2021.07.21</div>
                </div>
                <div class="swiper-slide">
                    <div class="img"><img src="../../../img/@temp/tumb-01.png" alt=""></div>
                    <div class="content">마이크로브앤미코어 런칭을 널~리널리 알려주세요. 지금 보고 계신 게시글 하단의 공유하기를 눌러, 자신의 계정에 공유해주세요. 선착순 100분께 스타벅스 ...</div>
                    <div class="date">2021.07.21</div>
                </div>
                <div class="swiper-slide">
                    <div class="img"><img src="../../../img/@temp/tumb-09.png" alt=""></div>
                    <div class="content">Macrogen Clinical diagnostics services for each and every one. We unravel individuals' secrets.
                        We find solutions for diseases. At Macrogen, ...</div>
                    <div class="date">2021.07.21</div>
                </div>
                <div class="swiper-slide">
                    <div class="img"><img src="../../../img/@temp/tumb-08.png" alt=""></div>
                    <div class="content">우리 집 댕댕이, 유전질환이 있는 견종이라고?
                        반려동물에게도 발생할 수 있는 유전질환, 미리 알아보고 예방할 수 있다면 좋겠죠.</div>
                    <div class="date">2021.07.21</div>
                </div>
                <div class="swiper-slide">
                    <div class="img"><img src="../../../img/@temp/tumb-07.png" alt=""></div>
                    <div class="content">코로나와 맞서 싸운 마크로젠, 그 1년 반의 시간.
                        국내 코로나19 바이러스가 상륙한 이후 약 한 달 뒤, 마크로젠은 서울대병원 호흡기내과 공동 연구팀과 공...</div>
                    <div class="date">2021.07.21</div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var swiper = new Swiper("._mediaSlider", {
            slidesPerView:3,
            centeredSlides: false,
            grabCursor: true,
            loopFillGroupWithBlank : true, // 그룹수가 맞지 않을 경우 빈칸으로 메우기(3개가 나와야 되는데 1개만 있다면 2개는 빈칸으로 채워서 3개를 만듦)
            loop : true, // 무한 반복
            navigation: {
                nextEl: "._btnNext",
                prevEl: "._btnPrev",
            },
        });
    </script>
</div>
