
<header class="header header-bg-white translated">
    <div class="dimmed" style="opacity: 1; visibility: inherit;"></div>
    <div class="search-dimmed"></div>
    <div class="header-master">
        <div class="container">
            <div class="header-inner">
                <h1 class="brand"><a href="/" data-trn-key="gnb-tab-01" class="trn">정관장</a></h1>
                <nav id="nav">
                    <div class="nav-inner">
                        <ul class="gnb noto_m">
                            <li class="has-submenu open">
                                <a href="#" class="depth1" style="opacity: 1;"><span data-trn-key="gnb-tab-01" class="trn">정관장</span></a>
                                <div class="submenu __with-infov open" style="z-index: 2; height: 100vh; opacity: 1; visibility: inherit;">
                                    <div class="submenu-box" style="height: auto;">
                                        <div class="submenu-box-inner">
                                            <ul class="hover-effect">
                                                <li style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;">
                                                    <a href="/cheongkwanjang/master-brands.do">
                                                        <span class="label trn" data-trn-key="gnb-tab-02">정관장</span>
                                                        <div class="submenu-content">
                                                            <div class="img"><img src="/assets/img/common/img1@2x.jpg"></div>
                                                            <p data-trn-key="gnb-tab-03" class="trn">건강한 내일을 위한 바른 철학, <br>마스터 브랜드 정관장을 만나보세요.</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="" style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;">
                                                    <a href="#">
                                                        <span class="label trn" data-trn-key="gnb-tab-04">홍삼</span>
                                                        <div class="submenu-content">
                                                            <div class="img"><img src="/assets/img/common/img2@2x.jpg"></div>
                                                            <p data-trn-key="gnb-tab-05" class="trn">최고를 위한 정관장의 약속, <br>홍삼의 본질을 찾기 위한 정관장의 여정.</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="" style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;">
                                                    <a href="/cheongkwanjang/history.do">
                                                        <span class="label trn" data-trn-key="gnb-tab-06">역사</span>
                                                        <div class="submenu-content">
                                                            <div class="img"><img src="/assets/img/common/img3@2x.jpg"></div>
                                                            <p data-trn-key="gnb-tab-07" class="trn">120여년의 전통, 신뢰의 씨를 뿌리다. <br>정관장 120여년의 역사를 만나보세요.</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="has-submenu">
                                <a href="#" class="depth1" style="opacity: 0.4;"><span data-trn-key="gnb-tab-08" class="trn">브랜드</span></a>
                                <div class="submenu __with-cat" style="z-index: 2; height: 0vh; opacity: 0; visibility: hidden;">
                                    <div class="submenu-box" style="height: 0px;">
                                        <div class="submenu-box-inner brands">
                                            <ul>










                                                <li style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;">
                                                    <h5 class="cat">정관장 홍삼</h5>
                                                    <ul class="product-list hover-effect2">


                                                        <li><a href="/brands/korean-red-ginseng-extract/brand.do?code_id=Brand_1"><span class="label">홍삼정</span></a></li>



                                                        <li><a href="/brands/everytime/brand.do?code_id=Brand_2"><span class="label">에브리타임</span></a></li>



                                                        <li><a href="/brands/korean-red-ginseng-roots-liquid/brand.do?code_id=Brand_3"><span class="label">홍삼뿌리/달임액      </span></a></li>


                                                    </ul>
                                                </li>











                                                <li style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;">
                                                    <h5 class="cat">전통</h5>
                                                    <ul class="product-list hover-effect2">


                                                        <li><a href="/brands/korean-red-ginseng-tonic/brand.do?code_id=Brand_5"><span class="label">홍삼톤</span></a></li>



                                                        <li><a href="/brands/hwangjindan/brand.do?code_id=Brand_4"><span class="label">황진단</span></a></li>



                                                        <li><a href="/brands/korean-red-ginseng-drink/brand.do?code_id=Brand_6"><span class="label">홍삼원</span></a></li>


                                                    </ul>
                                                </li>













                                                <li style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;">
                                                    <h5 class="cat">타겟</h5>
                                                    <ul class="product-list hover-effect2">


                                                        <li><a href="/brands/hwaaerak/brand.do?code_id=Brand_7"><span class="label">화애락</span></a></li>



                                                        <li><a href="/brands/i-pass/brand.do?code_id=Brand_8"><span class="label">아이패스</span></a></li>



                                                        <li><a href="/brands/korean-red-ginseng-kid-tonic/brand.do?code_id=Brand_9"><span class="label">홍이장군</span></a></li>



                                                        <li><a href="/brands/i-kicker/brand.do?code_id=Brand_10"><span class="label">아이키커</span></a></li>


                                                    </ul>
                                                </li>











                                                <li style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;">
                                                    <h5 class="cat">소재</h5>
                                                    <ul class="product-list hover-effect2">


                                                        <li><a href="/brands/alpha-project/brand.do?code_id=Brand_13"><span class="label">알파프로젝트</span></a></li>



                                                        <li><a href="/brands/good-base/brand.do?code_id=Brand_12"><span class="label">굿베이스</span></a></li>



                                                        <li><a href="/brands/cheonnok/brand.do?code_id=Brand_11"><span class="label">천녹</span></a></li>


                                                    </ul>
                                                </li>




















                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class=""><a href="/products/list.do" class="depth1" style="opacity: 0.4;"><span data-trn-key="gnb-tab-09" class="trn">제품</span></a></li>
                            <li class=""><a href="/wellness-book/list.do" class="depth1" style="opacity: 0.4;"><span>웰니스북</span></a></li>

                            <li class="has-submenu">
                                <a href="#" class="depth1" style="opacity: 0.4;"><span data-trn-key="gnb-tab-10" class="trn">뉴스&amp;이벤트</span></a>
                                <div class="submenu normal" style="z-index: 2; height: 0vh; opacity: 0; visibility: hidden;">
                                    <div class="submenu-box" style="height: 0px;">
                                        <div class="submenu-box-inner">
                                            <ul class="hover-effect">

                                                <li style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;"><a href="/news-event/media.do"><span class="label trn" data-trn-key="gnb-tab-12">정관장 미디어</span></a></li>

                                                <li style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;"><a href="/news-event/events.do"><span class="label">이벤트</span></a></li>
                                                <li style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;"><a href="/news-event/sns.do"><span class="label">SNS 소식</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="lang">
                            <li class="active"><a href="javascript:langChange('kr');"><span class="kr_lang">한국어</span></a></li>
                            <li><a href="javascript:langChange('en');"><span class="en_lang">English</span></a></li>
                            <li><a href="javascript:langChange('cn');"><span class="cn_lang">中文</span></a></li>
                        </ul>
                    </div>
                </nav>
                <div class="utils">


                    <div class="kgc_btn">
                        <a href="https://www.kgc.co.kr/index.do" title="KGC인삼공사 공식홈페이지" target="_blank">
                            KGC인삼공사 <br>
                            공식홈페이지
                        </a>
                    </div>
                    <div class="split langSplit leftSide"></div>


                    <div class="langs">
                        <div class="lang-selector">
                            <a href="#" class="current"><span>한국어</span></a>
                            <div class="others">
                                <a href="javascript:langChange('kr');" class="active"><span class="kr_lang">한국어</span></a>
                                <a href="javascript:langChange('en');"><span class="en_lang">English</span></a>
                                <a href="javascript:langChange('cn');"><span class="cn_lang">中文</span></a>
                            </div>
                        </div>
                    </div>


                    <div class="split langSplit"></div>

                    <div class="search">
                        <!-- <a href="/search-view.do">찾기</a> -->
                        <a href="javascript:void(0);">찾기</a>
                    </div>
                    <div class="search-panel">
                        <div class="inner">
                            <!-- 검색 -->
                            <form action="/search-view.do" name="search_form">
                                <div class="search_form">
                                    <div class="input_box">
                                        <div class="input_inner">

                                            <input type="text" required="" name="param1" placeholder="검색어를 입력하세요." title="검색어를 입력하세요." maxlength="30">



                                        </div>

                                        <button type="submit" class="btn_search" title="검색"><img src="/assets/img/common/ico_search.svg" alt=""></button>
                                    </div>

                                    <div class="keyword-box">
                                        <h3 class="noto_r trn" data-trn-key="gnb-tab-14">추천 검색어</h3>
                                        <ul class="keyword-list slide_search slick-slider">

                                        </ul>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>


                    <a href="#" class="btn-toggle-menu"><span>메뉴</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-sub">
        <div class="container">
            <div class="header-inner">
                <div class="breadcrumbs">
                    <ul>
                        <li class="home"><a href="/"><span data-trn-key="gnb-2depth-01" class="trn">홈</span></a></li>
                        <li class="split">/</li>
                        <li><a href="#"><span data-trn-key="gnb-2depth-02" class="trn">브랜드</span></a></li>
                        <li class="split">/</li>
                        <li class="current"><span>에브리타임</span></li>
                    </ul>
                </div>
                <nav class="product-menu">
                    <ul>
                        <li class="active"><a href="/brands/brandIntro.do?code_id="><span data-trn-key="gnb-2depth-03" class="trn">브랜드 소개</span></a></li>
                        <li><a href="/brands/products/list.do?code_id="><span data-trn-key="gnb-2depth-04" class="trn">제품 소개</span></a></li>

                        <li class="menu-brand-communication"><a href="/brands/brand-communication.do?code_id="><span data-trn-key="gnb-2depth-05" class="trn">브랜드 커뮤니케이션</span></a></li>
                        <li class="menu-event"><a href="/brands/events.do?code_id="><span>이벤트</span></a></li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- file download target -->
    <iframe name="fileDown" style="display:none;"></iframe>

    <!-- 파일 다운로드를 위한 스크립트 추가 -->
    <script>
        function fileDownload(file_id) {
            var $f = $("form");
            var $action = "/down.do";
            if ($f.length != 0) {
                $f[0].reset();
            }
            $f = $("<form>").attr("method", "post");
            $f.append($("<input>").attr("name", "file_id")).hide();
            $f.appendTo("body");

            $f.find("input[name=file_id]").val(file_id);
            $f[0].target="fileDown";
            $f[0].action = $action.replace(/(^.+\/|\?.+)/gi, "");
            $f[0].onsubmit = undefined;
            $f.submit();
        }
    </script>
    <script>
        var langChange;
        var $langs = $(".langs .lang-selector");
        var $langsM = $("ul.lang");
        var $curr = $langs.find(".current span");

        function _setActive(text, clazz) {
            $curr.text(text);
            $langs.find(".others .active").removeClass("active");
            $langs.find(clazz).parent().addClass("active");

            $langsM.find(".active").removeClass("active");
            $langsM.find(clazz).parents("li").addClass("active");
        }

        function setLangNow() {
            var uri = location.pathname;
            if (/^\/en/i.test(uri))    _setActive("English", ".en_lang");
            if (/^\/cn/i.test(uri))    _setActive("中文", ".cn_lang");
        }

        setLangNow();

        langChange = function (_lang) {
            var loc = location.href.replace(/^https?:\/\/[^\/]+(\/en|\/cn)?/i, "");
            switch (_lang) {
                case "kr":
                    location.href = loc;
                    break;
                case "en":
                    location.href = "/en" + loc;
                    break;
                case "cn":
                    location.href = "/cn" + loc;
                    break;
            }
        }


        var $fakeScreen = $('<div><div/>').attr('id', 'fakescreen');
        $('body').append( $fakeScreen );

        $(document).ready(function() {
            $fakeScreen.fadeOut(1000);
        })
    </script>

</header>
