@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Nanum/Nanum-regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Nanum/Nanum-bold.woff2) format('woff2');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/Nanum/Nanum-extrabold.woff2) format('woff2');
}
