/*
|----------------------------------|
 v.0.1 최초 공통화 작업
|----------------------------------|
*/

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -999em;
  overflow: hidden;
}

.icon-new {
  background-image: url("../img/common/ico-new.png");
}
.icon-member {
  background-image: url("../img/common/ico-member.png");
}
/*메인페이지 아이콘*/
.icon-instagram {
  background-image: url("../img/home/ico-instagram.png");
}
.icon-blog {
  background-image: url("../img/home/ico-blog.png");
}
.icon-facebook {
  background-image: url("../img/home/ico-facebook.png");
}
.icon-youtube {
  background-image: url("../img/home/ico-youtube.png");
}
/*확장자아이콘*/
.icon-word {
  background-image: url("../img/common/ico-word.png");
}
.icon-excel {
  background-image: url("../img/common/ico-excel.png");
}
.icon-zip {
  background-image: url("../img/common/ico-zip.png");
}
.icon-ppt {
  background-image: url("../img/common/ico-ppt.png");
}
.icon-img {
  background-image: url("../img/common/ico-img.png");
}
.icon-hangle {
  background-image: url("../img/common/ico-hangle.png");
}
.icon-pdf {
  background-image: url("../img/common/ico-pdf.png");
}
.icon-music {
  background-image: url("../img/common/ico-music.png");
}
.icon-play-white {
  background-image: url("../img/common/ico-play-white.png");
}
.icon-pause {
  background-image: url("../img/common/ico-pause.png");
}


/*------------*/



.mobile {
  .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -999em;
    overflow: hidden;
    background-size: contain;
  }



  /*신규아이콘*/
  .icon-board {
    background-image: url("../img/m-common/ico-board.png");
  }
  .icon-submitconfirm {
    background-image: url("../img/m-common/ico-submitconfirm.png");
  }
  .icon-check-all {
    background-image: url("../img/m-common/ico-check-all.png");
  }
  .icon-play-line {
    background-image: url("../img/m-common/ico-play-line.png");
  }
  .icon-play-triangle-line {
    background-image: url("../img/m-common/ico-play-triangle-line.png");
  }
  .icon-plus-black {
    background-image: url("../img/m-common/ico-plus-black.png");
  }
  .icon-badge-new {
    background-image: url("../img/m-common/ico-badge-new.png");
  }

  /*기존아이콘*/
  .icon-folder-gray {
    background-image: url("../img/m-common/ico-folder-gray.png");
  }
  .icon-folder-green {
    background-image: url("../img/m-common/ico-folder-green.png");
  }
  .icon-folder-white {
    background-image: url("../img/m-common/ico-folder-white.png");
  }
  .icon-memo-center {
    background-image: url("../img/m-common/ico-memo-center.png");
  }
  .icon-memo-center-blue {
    background-image: url("../img/m-common/ico-memo-center-blue.png");
  }
  .icon-memo-left {
    background-image: url("../img/m-common/ico-memo-left.png");
  }
  .icon-clipboard {
    background-image: url("../img/m-common/ico-clipboard.png");
  }
  .icon-clip {
    background-image: url("../img/m-common/ico-clip.png");
  }
  .icon-clock {
    background-image: url("../img/m-common/ico-clock.png");
  }
  .icon-cd {
    background-image: url("../img/m-common/ico-cd.png");
  }
  .icon-calender {
    background-image: url("../img/m-common/ico-calender.png");
  }
  .icon-other{
    background-image: url("../img/m-common/ico-other.png");
  }
  .icon-other-hover {
    background-image: url("../img/m-common/ico-other-hover.png");
  }
  .icon-download {
    background-image: url("../img/m-common/ico-download.png");
    &.icon-disabled{
      background-image: url("../img/m-common/ico-download-disabled.png");
    }
  }
  .icon-scalefull {
    background-image: url("../img/m-common/ico-scalefull.png");
  }
  .icon-refresh {
    background-image: url("../img/m-common/ico-refresh.png");
  }
  .icon-refresh-white {
    background-image: url("../img/m-common/ico-refresh-white.png");
  }
  .icon-qna {
    background-image: url("../img/m-common/ico-qna.png");
  }
  .icon-question {
    background-image: url("../img/m-common/ico-question.png");
  }
  .icon-trash {
    background-image: url("../img/m-common/ico-trash.png");
  }
  .icon-reply {
    background-image: url("../img/m-common/ico-reply.png");
  }
  .icon-print {
    background-image: url("../img/m-common/ico-print.png");
  }
  .icon-setting {
    background-image: url("../img/m-common/ico-setting.png");
  }
  .icon-basket-small {
    background-image: url("../img/m-common/ico-basket-small.png");
  }
  .icon-bell {
    background-image: url("../img/m-common/ico-bell.png");
  }
  .icon-shop {
    background-image: url("../img/m-common/ico-shop.png");
  }
  .icon-error {
    background-image: url("../img/m-common/ico-error.png");
  }
  .icon-file {
    background-image: url("../img/m-common/ico-file.png");
  }
  .icon-help {
    background-image: url("../img/m-common/ico-help.png");
  }

  .icon-play {
    background-image: url("../img/m-common/ico-play-off.png");
    &.icon-active {
      background-image: url("../img/m-common/ico-play-on.png");
    }
  }
  .icon-magic {
    background-image: url("../img/m-common/ico-magic.png");
  }
  .icon-memo-pencil {
    background-image: url("../img/m-common/ico-memo-pencil.png");
  }
  .icon-newly {
    background-image: url("../img/m-common/ico-newly.png");
  }
  .icon-play-triangle-blue {
    background-image: url("../img/m-common/ico-play-triangle-blue.png");
  }
  .icon-play-triangle-white {
    background-image: url("../img/m-common/ico-play-triangle-white.png");
  }
  .icon-plus {
    background-image: url("../img/m-common/ico-plus.png");
  }
  .icon-plus-gray {
    background-image: url("../img/m-common/ico-plus-gray.png");
  }
  .icon-play-small-blue {
    background-image: url("../img/m-common/ico-play-small-blue.png");
  }
  .icon-play-small-gray {
    background-image: url("../img/m-common/ico-play-small-gray.png");
  }
  .icon-play-small-lightgray {
    background-image: url("../img/m-common/ico-play-small-lightgray.png");
  }
  .icon-heart {
    background-image: url("../img/m-common/ico-heart.png");
  }
  .icon-heart-off {
    background-image: url("../img/m-common/ico-heart-off.png");
  }
  .icon-home {
    background-image: url("../img/m-common/ico-home.png");
  }

  .icon-star{
    background-image: url("../img/m-common/ico-star-off.png");
    &.icon-active{
      background-image: url("../img/m-common/ico-star-on.png");
    }
  }
  .icon-star-small {
    background-image: url("../img/m-common/ico-star-small-off.png");
    &.icon-active{
      background-image: url("../img/m-common/ico-star-small-on.png");
    }
  }
  .icon-tpin-black {
    background-image: url("../img/m-common/ico-tpin-black.png");
  }
  .icon-tpin-gray {
    background-image: url("../img/m-common/ico-tpin-gray.png");
    &.icon-disabled{
      background-image: url("../img/m-common/ico-tpin-disabled.png");
    }
  }
  .icon-tpin-white {
    background-image: url("../img/m-common/ico-tpin-white.png");
  }


  .icon-blog {
    background-image: url("../img/m-common/ico-blog.png");
    background-size: 16px 16px;
  }
  .icon-instagram {
    background-image: url("../img/m-common/ico-instagram.png");
    background-size: 16px 16px;
  }
  .icon-youtube {
    background-image: url("../img/m-common/ico-youtube.png");
    background-size: 16px 16px;
  }
  .icon-facebook {
    background-image: url("../img/m-common/ico-facebook.png");
    background-size: 16px 16px;
  }
  .icon-excel {
    background-image: url("../img/m-common/ico-excel.png");
  }
  .icon-hangle {
    background-image: url("../img/m-common/ico-hangle.png");
  }
  .icon-img {
    background-image: url("../img/m-common/ico-img.png");
  }
  .icon-music {
    background-image: url("../img/m-common/ico-music.png");
  }
  .icon-pdf {
    background-image: url("../img/m-common/ico-pdf.png");
  }
  .icon-zip {
    background-image: url("../img/m-common/ico-zip.png");
  }
  .icon-ppt {
    background-image: url("../img/m-common/ico-ppt.png");
  }
  .icon-word {
    background-image: url("../img/m-common/ico-word.png");
  }


  .icon-link {
    background-image: url("../img/m-common/ico-link.png");
  }
  .icon-link-blue {
    background-image: url("../img/m-common/ico-link-blue.png");
  }
  .icon-link-connect-black {
    background-image: url("../img/m-common/ico-link-connect-black.png");
  }
  .icon-link-connect-blue {
    background-image: url("../img/m-common/ico-link-connect-blue.png");
  }

  .icon-new-badge{
    background-image: url("../img/m-common/ico-new-badge.png");
  }


}
