/*
|----------------------------------|
 v.0.1 최초 공통화 작업
|----------------------------------|
*/

/* 버튼에 들어가는 icon 좌우여백 클래스 (PC)*/
.icon-mr {margin-right: 3px;}
.icon-ml {margin-left: 3px;}



/*기본 불렛(before)*/
 .bullet-circle {
   position: relative;
   padding-left: 10px;

   &:before {
     content: "";
     position: absolute;
     top: 10px;
     left: 0;
     width: 4px;
     height: 4px;
     border-radius: 100%;
     background-color: #000;
   }
   /*색상별*/
   &.bullet-color-red {
     &:before {
       background: #ff0000;
     }
   }

   /*형태별*/
   &.bullet-indent {
     position: relative;
     text-indent: -10px;
     padding-left: 20px;
     &:before {
       position: static;
       transform: translate(0%, -50%);
       display: inline-block;
       content: "";
       width: 4px;
       height: 4px;
       margin-right: 5px;
     }
     &.bullet-center{
       text-indent: 0;
       &:before{
         top: 50%;
         left: 10px;
       }
     }
   }

   &.bullet-center {
     &:before {
       position: absolute;
       top: 50%;
       left: 0;
       transform: translate(0%, -50%);
       display: inline-block;
       content: "";
       width: 4px;
       height: 4px;
       background: #000;
       border-radius: 100%;
     }
   }
 }
 /*테이블 내부에있는 th 불렛(after)*/
.table{
  tbody{
    th{
      .bullet-circle{
        padding-left: 0;
        &:before{
          content: none;
        }
        &:after {
          content: '';
          display: inline-block;
          width: 4px;
          height: 4px;
          border-radius: 100%;
          vertical-align: text-top;
          position: relative;
          background-color: #000;
          left: 4px;
          top: 4px;
        }
        /*색상별*/
        &.bullet-color-red {
          &:after {
            background: #ff0000;
          }
        }
      }
    }
  }
}






.ellipsis {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


@mixin ellipsis( $count ) {
  @if $count == 1 {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  } @else {
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $count;
    -webkit-box-orient: vertical;
  }
}

@mixin btn-circle() {
  border-radius: 18px;
}

@mixin btn-size($size){
  @if $size == md {
    font-size: 12px;
    height: 32px;
    line-height: 18px;
    vertical-align: middle;
    .name {
      line-height:17px;
      vertical-align: middle;
    }
  }
  @else if $size == ml {
    font-size: 14px;
    height: 36px;
    line-height: 21px;
    .name{
      line-height: 20px;
    }
  }
  @else if $size == lg {
    font-size: 14px;
    height: 44px;
    line-height: 28px;
    .name{
      line-height: 28px;
    }
  }
  @else if $size == xl {
    font-size: 16px;
    height: 52px;
    padding: 10px 15px;
    line-height: 24px;
    .name{
      line-height: 24px;
    }
  }
}

@mixin btn-color($color){
  @if $color == w {
    background-color:$white;
  } @else if $color == p {
    background-color:$primary;
  }
}


/*

em {
  font-style: normal;
}

label {
  margin: 0;
}

.border-bottom-none {border-bottom:none !important;}
.border-top-none {border-top:none !important;}



.hover-decoration:hover {text-decoration:underline; cursor:pointer;}
// .btn.disabled, .btn:disabled { opacity: 1; }

!*.btn.disabled, .btn:disabled {opacity:1;}
.btn.disabled i {opacity:.25;}
.btn:disabled i {opacity:.25;}
.btn.disabled .name {opacity:.25;}
.btn:disabled .name {opacity:.25;}*!

.cursor_default {cursor:default!important;}


!*검색결과 배경*!
.search-keword {background:#418ac9; color:white; opacity: 0.8; display:inline-block; line-height:120%;padding: 0 2px}





//모바일 유틸

///모바일에서만 보이는 class
.show-mobile {display:none!important;}
.show-mobile-flex{display:none!important;}
.mobile{
  .show-mobile{display:block!important;}
  .show-mobile-flex{display:flex!important;}
}

///pc에서만 보이는 class
.show-pc {display:block!important;}
.mobile{
  .show-pc{display:none!important;}
}
*/
