@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSansKR/NotoSansKR-Regular.woff2) format('woff2'),
  url(../fonts/NotoSansKR/NotoSansKR-Regular.woff) format('woff');
}

@font-face {
  font-family: 'NotoSansKR-Medium';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NotoSansKR/NotoSansKR-Medium.woff2) format('woff2');
  src: url(../fonts/NotoSansKR/NotoSansKR-Medium.woff) format('woff');
}

@font-face {
  font-family: 'NotoSansKR-Bold';
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/NotoSansKR/NotoSansKR-Bold.woff2) format('woff2');
  src: url(../fonts/NotoSansKR/NotoSansKR-Bold.woff) format('woff');
}
