@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/ProximaNova/proxima-nova-regular.woff2) format('woff2');
  src: url(../fonts/ProximaNova/proxima-nova-regular.woff) format('woff');
}
@font-face {
  font-family: 'Proxima Nova Medium';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/ProximaNova/proxima-nova-medium.woff2) format('woff2');
  src: url(../fonts/ProximaNova/proxima-nova-medium.woff) format('woff');
}
@font-face {
  font-family: 'Proxima Nova Bold';
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/ProximaNova/proxima-nova-bold.woff2) format('woff2');
  src: url(../fonts/ProximaNova/proxima-nova-bold.woff) format('woff');
}
