/*
|----------------------------------|
 v.0.1 (선미) 최초 작업 -- 2021.08.24
|----------------------------------|
*/
.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 25px 20px;
  min-width: 280px;
  height: 92px;
  font-size: 22px;
  text-align: center;
  letter-spacing: -0.75px;
  font-weight: bold;
  border-radius: 0;
  vertical-align: middle;
  border:1px solid transparent;
  color:#222;
  margin: 0 2px;
  &:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  &:first-of-type{
    margin-left: 0;
  }
  &:last-of-type{
    margin-right: 0;
  }

  >span{
    vertical-align: middle;
  }
  .icon{
    +span{
      margin-left: 14px
    }
  }

  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled).active,
  &.btn:focus, .btn.focus{
    box-shadow: none;
    outline: none;
  }
  /*색상별*/
  &.btn-primary{
    border: 1px solid  $point-primary;;
    background-color: $point-primary;;
    color:  $gray-ffffff;
  }
  &.btn-black{
    border: 1px solid #222;
    background-color: #222;
    color:  $gray-ffffff
  }
  &.btn-white{
    border: 1px solid $line-000000;
    background-color: $bg-ffffff;
    color: #222;
  }

  /*크기별*/
  &.btn-sm {
    font-size: 14px;
    padding: 9px 20px;
    min-width: 98px;
    height: 45px;
    &.btn-round{
      border-radius: 21.5px;
    }
    &.btn-white{
      border: 1px solid $line-e9e9e9;
    }
    .icon{
      +span{
        margin-left: 7px
      }
    }
  }

  /*형태별*/
  &.btn-text{
    font-size: 16px;
    min-width: unset;
    height: unset;
    padding: 0;

    .icon{
      +span{
        margin-left: 12px
      }
    }
    span{
      +.icon{
        margin-left: 12px;
      }
    }
    /*to top 예외 사항*/
    &.btn-totop{
      width: 60px;
      text-align: center;
      .icon{
        display: inline-block;
        +span{
          margin-left: 0;
          display: block;
        }
      }
    }
  }

  &.btn-circle{
    border-radius: 50%;
    min-width: unset;
    min-height: unset;
    padding: 0;
    position: relative;
    .icon{
      position: absolute;
      left: 50%;
      top:50%;
      transform: translate(-50% , -50%);
    }
    &.btn-white{
      border: 1px solid $line-e9e9e9;
      background-color: $bg-ffffff;
    }
    &.btn-black{
      border: 1px solid $line-000000;
      background-color: $bg-000000;
    }

    &.btn-lg{
      width: 70px;
      height: 70px;
    }
    &.btn-md{
      height: 45px;
      width: 45px;
    }
    &.btn-sm{
      height: 38px;
      width: 38px;
    }
  }
}
