/*
|----------------------------------|
 v.0.1 (주연) 최초 작업 -- 2021.08.20
 v.0.1 (주연) bg-gradation / bg-light-blue 추가 -- 2021.08.23
|----------------------------------|
*/
@import "variables";

.bg-point-primary { background-color: $point-primary;}
.bg-point-secondary { background-color: $point-secondary;}
.bg-point-active { background-color: $point-active;}
.bg-point-sub { background-color: $point-sub;}
.bg-black { background-color: $bg-black;}
.bg-navy { background-color: $bg-navy;}
.bg-gray { background-color: $bg-gray;}
.bg-white { background-color: $bg-white;}
.bg-light-blue { background-color: $bg-f5f8fb;}
.bg-gradation { background: linear-gradient(106.65deg, #00ADA9 9.33%, #377EF9 93.88%);}

.color-point-primary { color: $point-primary;}
.color-point-secondary { color: $point-secondary;}
.color-point-active { color: $point-active;}
.color-point-sub { color: $point-sub;}
.color-black { color: $bg-black;}
.color-navy { color: $bg-navy;}
.color-gray { color: $bg-gray;}
.color-white { color: $bg-white;}
