/*
|----------------------------------|
 v.0.1 (주연) 최초 작업 -- 2021.08.19
|----------------------------------|
*/
.wrap {
  position: relative;
  max-width: 1920px;
  width: 1244px;
  margin: 0 auto;
  padding: 0 50px;
}
