/*
|----------------------------------|
 v.0.1 선미 : 최초 작업 -- 2021.08.31
 v.0.2 선미 : no-data 추가 -- 2021.09.06
 v.0.3 선미 : slogan-sub {text-transform: uppercase} 제거 -- 2021.09.15
 v.0.4 주연 : header / 2depth 추가 -- 2021.09.17
 v.0.5 태윤 : footer 사이트 연동 a태그 속성 추가 -- 2021.09.17
 v.0.6 선미 : header -> index 5->10 변경 - 2021.09.18
 v.0.7 선미 : header -> gnb-2depth 재작업 - 2021.09.22
 v.0.8 태윤 : footer -> safari 링크 깨지는거 재수정
 v.0.9 태윤 : &.container-fluid max-width:1920px 추가
 v.0.10 선미 : .wrap > .full-bg > .frame > .breadcrumb ( right: 335px; )추가
 v.0.11 선미 : .footer 전체 변경 / full-bg(크기값 고정) /  breadcrumb : right: 335px;제거 / 레이아웃 전체 구조변경
 v.0.12 주연 : .en (영문 클래스 추가)
 |----------------------------------|
*/
.wrap {
  position: relative;
  width: 100%;
  min-width: 1366px;

  .full-bg {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    max-height: 980px;
    margin: 0 auto;

    .frame {
      position: relative;
      width: 1244px;
      margin: 0 auto;
      padding-top: 140px;
      padding-bottom: 252px;

      .hero-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 54px;
        letter-spacing: -1px;
        margin-bottom: 150px;
        color: $gray-ffffff;
      }

      .slogan {
        font-weight: 700;
        font-size: 92px;
        line-height: 86px;
        letter-spacing: -0.5px;
        text-transform: uppercase;
        color: $gray-ffffff;
        margin-bottom: 22px;
      }

      .slogan-sub {
        font-size: 28px;
        line-height: 42px;
        letter-spacing: -1px;
        /* text-transform: uppercase;*/
        color: $gray-ffffff;
      }

      .breadcrumb {
        position: absolute;
        bottom: 50px;
        height: 20px;
        margin-bottom: 0;


        .breadcrumb-item {
          a {
            color: $gray-ffffff;
          }

          + .breadcrumb-item::before {
            color: $gray-ffffff;
          }
        }
      }

      &.frameB {
        padding-top: 241px;
        padding-bottom: 100px;

        .hero-title {
          font-size: 64px;
          line-height: 93px;
          letter-spacing: -3px;
          margin-bottom: 10px;
        }

        .slogan-sub {
          font-size: 22px;
          line-height: 33px;
          letter-spacing: -0.75px;
        }

        .breadcrumb {
          top: 0;
          right: 0;
        }
      }

      &.frameC {
        padding-top: 140px;
        padding-bottom: 120px;

        .hero-title {
          font-size: 64px;
          line-height: 93px;
          letter-spacing: -3px;
          margin-bottom: 0;
          color: $gray-000000;
        }

        .slogan-sub {
          font-size: 22px;
          line-height: 33px;
          letter-spacing: -0.75px;
        }

        .breadcrumb {
          top: 0;
          right: 0;

          .breadcrumb-item {
            a {
              color: $gray-909090;
            }

            &.active {
              a {
                color: $gray-000000;
              }
            }

            + .breadcrumb-item::before {
              color: $gray-909090;
            }
          }
        }
      }
    }
  }

  .header, .header-main {
    width: 100%;
    max-width: 1920px;
    height: 124px;
    margin: 0 auto;
    //position: fixed; //레이아웃 요소 변경으로 수정
    background-color: transparent;
    z-index: 10 !important; //DNA 이미지 위로 올림
    position: relative;

    &:before {
      content: '';
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid $line-ffffff;
      opacity: 0.1;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
    }

    .inner {
      max-width: 1920px;
      min-width: 1366px;
      margin: 0 auto;
      padding: 20px 0;
      height: 123px;
      position: relative;

      .section_gnb {
        position: absolute;
        left: 50px;
        top: 50%;
        transform: translateY(-50%);

        .logo {
          display: inline-block;
          vertical-align: middle;
          width: 283px;

          a {
            display: block;
            width: 171px;
            height: 64px;
            background: url("../img/common/logo-white.svg") no-repeat left center / 100%;
            text-indent: -9000px;
          }
        }

        nav {
          display: inline-block;
          vertical-align: middle;

          ul {
            font-family: "Proxima Nova Bold", "Noto Sans KR", sans-serif !important;

            li {
              text-transform: uppercase;
              display: inline-block;
              margin-right: 44px;
              font-size: 20px;
              letter-spacing: 0;
              cursor: pointer;

              &:last-of-type {
                margin-right: 0;
              }

              span {
                color: $gray-ffffff;
                text-decoration: none;

              }

              &.active, &:hover {
                span {
                  color: $point-active !important;
                }
              }
            }
          }
        }
      }

      .section_btn {
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);

        .sns {
          display: inline-block;

          li {
            display: inline-block;
            margin-right: 4px;


            &:last-of-type {
              margin-right: 16px;
            }

            a {
              display: block;
            }
          }
        }

        .btn_eng {
          display: inline-block;

          .btn-round {
            background: rgba(255, 255, 255, 0.1);
            color: $gray-ffffff;
            border: 1px solid $line-ffffff;

            .icon {
              background-image: url("../img/common/ico-earth-white.svg");
            }
          }
        }
      }
    }

    &.header-bg-white {
      background-color: $gray-ffffff;

      &:before {
        border-bottom: 1px solid $line-e9e9e9;
        opacity: 0.1;
      }

      .inner {
        .section_gnb {
          .logo {
            a {
              background: url("../img/common/logo-default.svg") no-repeat left center / 100%;
            }
          }

          nav ul li span {
            color: $gray-000000;
          }
        }

        .section_btn {
          .btn_eng {
            .btn-round {
              color: $gray-000000;
              background-color: rgba(255, 255, 255, 0.1);
              border: 1px solid $line-e9e9e9;

              .icon {
                background-image: url(../img/common/ico-earth-black.svg);
              }
            }
          }
        }
      }
    }

    &-sm {
      height: 96px;
      background-color: #ffffff;
      border-bottom: 1px solid rgba(233, 233, 233, 0.1);

      .inner {
        padding: 0;
        height: 95px;

        .section_gnb {
          .logo {
            a {
              width: 144px;
              height: 54px;
              background: url("../img/common/logo-default-sm.svg") no-repeat left center / 100%;
            }
          }

          nav {
            ul {
              li {
                span {
                  color: #000000;
                }
              }
            }
          }
        }

        .section_btn {
          .btn_eng {
            .btn-round {
              color: $gray-000000;
              background-color: rgba(255, 255, 255, 0.1);
              border: 1px solid $line-e9e9e9;

              .icon {
                background-image: url(../img/common/ico-earth-black.svg);
              }
            }
          }
        }
      }
    }

    .gnb-2depth {
      position: absolute;
      width: 100%;
      background-color: $bg-ffffff;
      border-bottom: rgba(233, 233, 233, 0.1);

      .box {
        display: none;
        max-width: 1920px;
        overflow-x: hidden;
        padding: 40px 50px 50px 338px;
        margin: 0 auto;

        .item {
          float: left;
          margin-right: 50px;

          &:last-of-type {
            margin-right: 0;
          }

          .title {
            font-weight: bold;
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 30px;

            a {
              color: $gray-000000;

              &:hover, &:active {
                color: $point-active;
              }
            }
          }

          ul {
            li {
              font-weight: normal;
              font-size: 16px;
              line-height: 23px;
              margin-bottom: 15px;

              &:last-of-type {
                margin-bottom: 0;
              }

              a {
                color: $gray-666666;

                &:hover, &:active {
                  color: $point-active;
                }
              }

            }
          }
        }

        &.active {
          display: block;
        }

      }

    }

  }

  .container {
    width: 1244px;
    margin: 0 auto;
    padding: 0 0 150px !important;
    max-width: 1920px;
    margin: 0 auto;

    &.container-fluid {
      width: 100%;
      max-width: 1920px;
    }
  }

  .footer {
    position: relative;

    &:before {
      content: '';
      display: inline-block;
      border-top: 12px solid #F3F3F3;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    min-width: 1244px;
    width: 100%;
    padding: 80px 0;
    background-color: #ffffff;

    .inner {
      width: 1244px;
      margin: 0 auto;
      position: relative;

      .section_information {
        .title {
          font-size: 26px;
          line-height: 38px;
          margin-bottom: 45px;
        }

        .info {
          .text {
            > li {
              color: $gray-707070;
              font-size: 15px;
              line-height: 25px;
              margin-bottom: 8px;
              letter-spacing: -0.5px;

              span {
                position: relative;
                margin-right: 40px;
                display: inline-block;

                &::after {
                  content: '';
                  display: inline-block;
                  position: absolute;
                  right: -20px;
                  top: 50%;
                  transform: translatey(-50%);
                  width: 1px;
                  height: 12px;
                  background-color: #e9e9e9;
                }

                &:last-of-type {
                  margin-right: 0;

                  &:after {
                    background: none;
                  }
                }

                a {
                  color: $gray-454545;
                  display: block;
                }
              }

              &:first-of-type {
                margin-bottom: 30px;

                .terms {
                  li {
                    font-size: 16px;
                    line-height: 28px;
                    letter-spacing: -0.5px;
                    float: left;
                    position: relative;
                    margin-right: 40px;

                    &:after {
                      content: '';
                      display: inline-block;
                      position: absolute;
                      right: -20px;
                      top: 50%;
                      transform: translatey(-50%);
                      width: 1px;
                      height: 12px;
                      background-color: #e9e9e9;
                    }

                    &:last-of-type {
                      margin-right: 0;

                      &:after {
                        background: none;
                      }
                    }

                    &:nth-of-type(2) {
                      span {
                        a {
                          color: #2e87ef;
                        }
                      }
                    }
                  }
                }
              }

              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      .section_familysite {
        position: absolute;
        right: 0;
        top: 8px;

        .family-box {
          position: relative;

          .select_site {
            width: 120px;
            color: $gray-000000;
            display: block;
            position: relative;

            &:before {
              content: '';
              display: block;
              background: url("../img/common/ico-footer-select-top.png") no-repeat right center;
              width: 8px;
              height: 6px;
              position: absolute;
              right: 0;
              top: 9px;
            }

            .text {
              font-size: 16px;
              font-weight: $font-weight-bold;
              display: block;
            }

            &.open {
              &:before {
                transform: rotate(180deg);
              }
            }
          }

          .popup_box {
            width: 185px;
            height: 490px;
            padding: 30px;
            position: absolute;
            bottom: 45px;
            right: 0;
            border-radius: 10px;
            background: $bg-ffffff;
            border: 1px solid #222222;
            box-shadow: 0 8px 6px rgba(0, 0, 0, 0.08);
            z-index: 10;

            .list {
              display: block;
              width: 100%;
              color: #5b5b5b;
              font-size: 16px;
              height: 30px;
              margin-bottom: 20px;

              &:last-of-type {
                margin-bottom: 0;
              }

              &:hover {
                color: $point-active;
                font-weight: bold;
              }
            }
          }
        }
      }


      .section_sns {
        position: absolute;
        right: 0;
        bottom: 10px;

        .sns {
          li {
            width: 30px;
            height: 30px;
            float: left;
            margin-right: 8px;

            &:last-of-type {
              margin-right: 0;
            }

            &.facebook {
              background: url("../img/common/ico-facebook-circle.svg") no-repeat center center;
            }

            &.youtube {
              background: url("../img/common/ico-youtube-circle.svg") no-repeat center center;
            }

            &.blog {
              background: url("../img/common/ico-blog-circle.svg") no-repeat center center;
            }

            &.linkedin {
              background: url("../img/common/ico-linkedin-circle.svg") no-repeat center center;
            }

            a {
              display: block;
              width: 30px;
              height: 30px;

            }
          }
        }

      }
    }
  }
}

@media (max-width: 1440px) {
  .wrap {
    .header {
      .inner {
        .section_btn {
          .sns {
            display: none;
          }
        }
      }
    }
  }
}

.en {
  .wrap {
    .full-bg {
      .frame {
        padding-bottom: 262px;

        .hero-title {
          font-size: 42px;
          line-height: 54px;
          margin-bottom: 90px;
          letter-spacing: 0;
        }

        .slogan {
          font-size: 80px;
          line-height: 86px;
          margin-bottom: 36px;
          letter-spacing: -0.5px;
        }

        .slogan-sub {
          font-weight: 500;
          font-size: 30px;
          line-height: 42px;
          letter-spacing: -0.5px;
        }

        &.frameB {
          padding-top: 211px;
          padding-bottom: 100px;

          .hero-title {
            font-size: 67px;
            line-height: 72px;
            margin-bottom: 20px;
          }

          .slogan-sub {
            font-size: 40px;
            line-height: 72px;
          }
        }

      }
    }

    .footer {
      .inner {
        .section_familysite {
          .family-box {
            .popup_box {
              padding: 30px 15px;
              width: 215px;
              height: 440px;
              .list{
                margin-bottom: 11px;
                &:last-of-type{
                  margin-bottom: 0;
                  height: 50px;
                }
              }
            }
          }
        }
      }
    }
  }
}
