/*
|----------------------------------|
 v.0.1 선미 : 최초 작업 -- 2021.08.31
 v.0.2 선미 : no-data 추가 -- 2021.09.06
 v.0.3 선미 : slogan-sub {text-transform: uppercase} 제거 -- 2021.09.15
|----------------------------------|
*/
.wrap {
  position: relative;
  width: 100%;
  min-width: 1366px;

  .full-bg {
    .frame {
      position: relative;
      width: 1244px;
      margin: 0 auto;
      padding-top: 140px;
      padding-bottom: 252px;

      .hero-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 54px;
        letter-spacing: -1px;
        margin-bottom: 150px;
        color: $gray-ffffff;
      }

      .slogan {
        font-weight: 700;
        font-size: 92px;
        line-height: 86px;
        letter-spacing: -0.5px;
        text-transform: uppercase;
        color: $gray-ffffff;
        margin-bottom: 22px;
      }

      .slogan-sub {
        font-size: 28px;
        line-height: 42px;
        letter-spacing: -1px;
       /* text-transform: uppercase;*/
        color: $gray-ffffff;
      }

      .breadcrumb {
        position: absolute;
        bottom: 50px;
        height: 20px;
        margin-bottom: 0;

        .breadcrumb-item {
          a {
            color: $gray-ffffff;
          }
          + .breadcrumb-item::before {
            color: $gray-ffffff;
          }
        }
      }

      &.frameB {
        padding-top: 241px;
        padding-bottom: 100px;

        .hero-title {
          font-size: 64px;
          line-height: 93px;
          letter-spacing: -3px;
          margin-bottom: 10px;
        }

        .slogan-sub {
          font-size: 22px;
          line-height: 33px;
          letter-spacing: -0.75px;
        }

        .breadcrumb {
          top: 0;
          right: 0;
        }
      }

      &.frameC {
        padding-top: 140px;
        padding-bottom: 120px;

        .hero-title {
          font-size: 64px;
          line-height: 93px;
          letter-spacing: -3px;
          margin-bottom: 0;
          color: $gray-000000;
        }

        .slogan-sub {
          font-size: 22px;
          line-height: 33px;
          letter-spacing: -0.75px;
        }

        .breadcrumb {
          top: 0;
          right: 0;

          .breadcrumb-item {
            a {
              color: $gray-909090;
            }
            &.active {
              a {
                color: $gray-000000;
              }
            }
            + .breadcrumb-item::before {
              color: $gray-909090;
            }
          }
        }
      }
    }
  }

/*  .sticky-wrapper {
    &.is-sticky {
      .header {
        background-color: $gray-ffffff;

        &:before {
          border-bottom: 1px solid #e9e9e9;
        }

        .inner {
          .section_gnb {
            .logo {
              a {
                background: url("../img/common/logo-default.svg") no-repeat left center / 100%;
              }
            }

            nav {
              li {
                a {
                  color: $gray-000000;
                }
              }
            }
          }

          .section_btn {
            .btn_eng {
              .btn-round {
                color: $gray-000000;
                background-color: rgba(255, 255, 255, 0.1);
                border: 1px solid $line-e9e9e9;

                .icon {
                  background-image: url(../img/common/ico-earth-black.svg);
                }
              }
            }
          }
        }
      }
    }
  }*/

/*  .header , .header-main{
    width: 100%;
    height: 124px;
    //position: fixed; //레이아웃 요소 변경으로 수정
    background-color: transparent;
    z-index: 5 !important;
    position: relative;

    &:before {
      content: '';
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid #ffffff;
      opacity: 0.1;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    .inner {
      max-width: 1920px;
      min-width: 1366px;
      margin: 0 auto;
      padding: 20px 0;
      height: 123px;
      position: relative;

      .section_gnb {
        position: absolute;
        left: 50px;
        top: 50%;
        transform: translateY(-50%);

        .logo {
          display: inline-block;
          vertical-align: middle;
          width: 283px;

          a {
            display: block;
            width: 171px;
            height: 64px;
            background: url("../img/common/logo-white.svg") no-repeat left center / 100%;
            text-indent: -9000px;
          }
        }

        nav {
          display: inline-block;
          vertical-align: middle;

          ul {
            li {
              text-transform: uppercase;
              display: inline-block;
              margin-right: 44px;
              font-size: 20px;
              letter-spacing: 0;

              &:last-of-type {
                margin-right: 0;
              }

              a {
                color: $gray-ffffff;
                text-decoration: none;
              }
            }
          }
        }
      }

      .section_btn {
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);

        .sns {
          display: inline-block;

          li {
            display: inline-block;
            margin-right: 4px;


            &:last-of-type {
              margin-right: 16px;
            }

            a {
              display: block;
            }
          }
        }

        .btn_eng {
          display: inline-block;

          .btn-round {
            background: rgba(255, 255, 255, 0.1);
            color: $gray-ffffff;
            border: 1px solid $line-ffffff;

            .icon {
              background-image: url("../img/common/ico-earth-white.svg");
            }
          }
        }
      }
    }

    &.header-bg-white {
      background-color: $gray-ffffff;
      &:before {
        border-bottom: 1px solid #e9e9e9;
        opacity: 1;
      }
      .inner {
        .section_gnb {
          .logo {
            a {
              background: url("../img/common/logo-default.svg") no-repeat left center / 100%;
            }
          }
          nav ul li a {
              color: $gray-000000;
          }
        }
        .section_btn {
          .btn_eng {
            .btn-round {
              color: $gray-000000;
              background-color: rgba(255, 255, 255, 0.1);
              border: 1px solid $line-e9e9e9;
              .icon {
                background-image: url(../img/common/ico-earth-black.svg);
              }
            }
          }
        }
      }
    }

    &-sm {
      height: 95px;
      background-color: #ffffff;
      border: 1px solid $line-e9e9e9;
      .inner{
        padding: 0;
        height: 95px;
        .section_gnb{
          .logo {
            a {
              width: 144px;
              height: 54px;
              background: url("../img/common/logo-default-sm.svg") no-repeat left center / 100%;
            }
          }
          nav{
            ul{
              li{
                a{
                  color:#000000;
                }
              }
            }
          }
        }
        .section_btn {
          .sns{
            .icon-facebook-circle-white{
              background-image: url("../img/common/ico-facebook-circle.svg");
            }
            .icon-youtube-circle-white{
              background-image: url("../img/common/ico-youtube-circle.svg");
            }
            .icon-blog-circle-white{
              background-image: url("../img/common/ico-blog-circle.svg");
            }
            .icon-linkedin-circle-white{
              background-image: url("../img/common/ico-linkedin-circle.svg");
            }
          }
          .btn_eng {
            .btn-round {
              color: $gray-000000;
              background-color: rgba(255, 255, 255, 0.1);
              border: 1px solid $line-e9e9e9;
              .icon {
                background-image: url(../img/common/ico-earth-black.svg);
              }
            }
          }
        }
      }
    }

    .inner-gnb{
      position: relative;

    }

  }*/

  .container {
    width: 1244px;
    margin: 0 auto;
    padding: 0 0 150px!important;
    max-width: none;

    &.container-fluid {
      width: 100%;
    }
  }

  .footer {
    width: 100%;
    min-width: 1244px;
    background-color: #ffffff;
    position: relative;

    &:before {
      content: '';
      display: inline-block;
      border-top: 12px solid #F3F3F3;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    .inner {
      width: 1344px;
      padding: 108px 50px;
      margin: 0 auto;

      .section_copy {
        width: 413px;
        float: left;
        min-height: 280px;
        color: #000000;

        .text {
          text-transform: uppercase;
          font-size: 36px;
          letter-spacing: 2.1px;
          line-height: 40px;
          padding-bottom: 32px;
          position: relative;

          &:after {
            content: '';
            clear: both;
            display: inline-block;
            width: 60px;
            height: 4px;
            background-color: #000;
            position: absolute;
            left: 0;
            bottom: 0;
          }
        }

        .copyright {
          margin: 40px 0 60px;
          letter-spacing: 0;
          line-height: 1.6;
        }

        .sns {
          li {
            display: inline-block;
            margin-right: 26px;

            &:last-of-type {
              margin-right: 0;
            }

            a {
              display: block;
            }
          }
        }
      }

      .section_information {
        float: right;
        min-height: 280px;
        width: calc(100% - 413px);

        .info {
          display: flex;
          justify-content: start;
          font-family: $font-family-base;
          margin-bottom: 54px;

          .box {
            &:first-of-type{
              width: 55.5%;
            }
            .title {
              font-size: 20px;
              line-height: 32px;
              letter-spacing: 0.5px;
              margin-bottom: 40px;
              color: #000000;
            }

            .text {
              font-size: 15px;
              line-height: 28px;
              letter-spacing: -0.75px;
              color: #707070;

              li {
                margin-bottom: 7px;

                &:last-of-type {
                  margin-bottom: 0
                }

                > span {
                  margin: 0 12px;
                  position: relative;

                  &:first-of-type {
                    margin-left: 0;

                    &:before {
                      display: none;
                    }
                  }

                  &:last-of-type {
                    margin-right: 0;
                  }

                  &:before {
                    content: '';
                    display: inline-block;
                    clear: both;
                    background-color: #e9e9e9;
                    width: 1px;
                    height: 12px;
                    position: absolute;
                    left: -12px;
                    top: 50%;
                    transform: translateY(-50%);
                  }
                }
              }
            }
          }
        }

        .link {
          .terms {
            li {
              display: inline-block;
              margin: 0 26px;
              position: relative;

              &:before {
                content: '';
                display: inline-block;
                clear: both;
                background-color: #e9e9e9;
                width: 1px;
                height: 12px;
                position: absolute;
                left: -26px;
                top: 50%;
                transform: translateY(-50%);
              }

              &:first-of-type {
                margin-left: 0;

                &:before {
                  display: none;
                }
              }

              &:last-of-type {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .wrap {
    .header {
      .inner {
        .section_btn {
          .sns {
            display: none;
          }
        }
      }
    }
  }
}

.en {
  .wrap {
    .full-bg {
      .frame {
        padding-bottom: 262px;

        .hero-title {
          margin-bottom: 160px;
        }

        .slogan {
          margin-bottom: 26px;
        }
      }
    }
  }
}


.header {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;


  &.transparent{
    .header-master{
      background-color: rgba(255, 255, 255, 0);
      animation-name: fade;
      animation-duration:  250ms;
      animation-fill-mode: forwards;
      transition: transform 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955), background-color  300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

      @media screen and (max-width: $breakpoint-tablet){
        transition: transform 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955), background-color  0ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      }

      &.transparentBG{
        background-color: rgba(255, 255, 255, 1) !important;
        animation-name: dummy_fade;

        @media screen and (max-width: $breakpoint-tablet){
          transition: transform 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955), background-color  0ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }

        .brand {
          a {
            background: url(../../img/common/logo.svg) 50% 50% no-repeat;
          }
        }

        #nav {
          .gnb {
            >li{
              >a {
                color:#000;
              }
            }
          }
        }

        .utils{
          .langs{
            .lang-selector{
              .current {
                &:before {
                  background: url(../../img/icon/lang.svg) 50% 50% no-repeat;
                }
              }
              span{
                color: #000;
              }

              &.open{
                span{
                  color: #000;
                }
              }
            }
          }
        }

        .btn-toggle-menu {
          span{
            &,&::before,&::after{
              background: #000;
            }
          }
        }
      }

      @keyframes fade {
        0%{
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
        }
        20%{
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
        }
        40%{
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
        }
        60%{
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
        }
        80%{
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
        }100%{
           background-image: linear-gradient(to bottom,  rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
         }
      }
    }

    .brand {
      a {
        background: url(../../img/common/logo-w.svg) 50% 50% no-repeat;
      }
    }

    #nav {
      .gnb {
        >li{
          >a {
            color:#fff;

            @media screen and (max-width: $breakpoint-tablet){
              color:#000;
            }
          }
        }
      }
    }

    .utils{
      .kgc_btn {
        a {
          color: #fff;
        }
      }
      .langs{
        .lang-selector{
          .current {
            &:before {
              background: url(../../img/icon/ico_ko.svg) 50% 50% no-repeat;
            }
          }
          span{
            color: #fff;
          }

          &.open{
            span{
              color: #000;
            }
          }
        }
      }
      .search{
        a{
          background: url(../../img/icon/ico_search_w.svg) 50% 50% no-repeat;
          background-size: 24px auto;

          @media screen and (max-width: $breakpoint-tablet){
            background: url(../../img/icon/m_ico_search_w.svg) 50% 50% no-repeat;
            background-size: 20px auto;
          }
        }

        &.active{
          a{
            background: url(../../img/icon/ico_search_close.svg) 50% 50% no-repeat;
            background-size: 30px auto;
          }
        }
      }

      @media screen and (max-width: $breakpoint-tablet){
        .btn-toggle-menu {
          span{
            &,&::before,&::after{
              background: #fff;
            }
          }
        }
      }
    }

    &.transparentActive{
      .header-master{
        background-color: rgba(255, 255, 255, 1);
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) !important;
        animation-name: dummy_fade;
        animation-play-state: paused;
      }

      .brand {
        a {
          background: url(../../img/common/logo.svg) 50% 50% no-repeat;
        }
      }

      #nav {
        .gnb {
          >li{
            >a {
              color:#000;
            }
          }
        }
      }

      .utils{
        .kgc_btn {
          a {
            color: #000;
          }
        }
        .langs{
          .lang-selector{
            .current {
              &:before {
                background: url(../../img/icon/lang.svg) 50% 50% no-repeat;
              }
            }
            span{
              color: #000;
            }
          }
        }
        .search{
          a{
            background: url(../../img/icon/search.svg) 50% 50% no-repeat;

            @media screen and (max-width: $breakpoint-tablet){
              background: url(../../img/icon/m_ico_search_w.svg) 50% 50% no-repeat;
            }
          }

          &.active{
            a{
              background: url(../../img/icon/ico_search_close.svg) 50% 50% no-repeat;
            }
          }
        }
      }
    }

    //mobile
    &.nav-open{
      .brand {
        a {
          background: url(../../img/common/logo.svg) 50% 50% no-repeat;
        }
      }

      .utils{
        .langs{
          .lang-selector{
            span{
              color: #000;
            }
          }
        }
        .search{
          a{
            background: url(../../img/icon/search.svg) 50% 50% no-repeat;

            @media screen and (max-width: $breakpoint-tablet){
              background: url(../../img/icon/m_ico_search.svg) 50% 50% no-repeat;
              background-size: 20px auto;
            }
          }

          &.active{
            a{
              background: url(../../img/icon/ico_search_close.svg) 50% 50% no-repeat;
            }
          }
        }

        .btn-toggle-menu{
          span{
            &,&::before,&::after{
              background: #000;
            }
          }
        }
      }

    }
  }

  .search-dimmed,
  .dimmed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background:rgba(0,0,0,.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    //transform: scaleY(0);
    transform-origin: 50% 0%;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    cursor: pointer;
    //pointer-events: none;
  }
  .dimmed {
    &.mobile{
      position: fixed;
      background: #FFF !important;
      opacity: 1;
      visibility: initial;

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        visibility: visible;
      }
    }
  }

  .header-master {
    height: $header-height;
    background: #fff;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transform: translate3d(0,0,0);

    @media screen and (max-width: $breakpoint-tablet) {
      height: $header-height-tablet;
    }
    @media screen and (max-width: $breakpoint-mobile) {
      height: $header-height-mobile;
    }
  }

  .header-sub {
    height: $header-product-menu-height;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(247,247,247,.85);
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transform: translateY(-100%);
  }
  .header-master,
  .header-sub {
    transition: transform 500ms $easeInOutQuad;

  }
  &.hide {
    .header-master {
      transform: translateY(-100%);
    }
    .header-sub {
      transform: translateY(0%);
    }
  }


  .container {
    flex: 1;
  }

  .header-inner {
    display: flex;
    align-items: center;
    flex: 1;
    .brand,
    .utils {
      flex: 1;
    }
  }


  .brand {
    a {
      display: block;
      background: url(../../img/common/logo.svg) 50% 50% no-repeat;
      background-size: contain;
      width: 84px;
      height: 28px;
      text-indent: -999em;
      overflow: hidden;
      @media screen and (max-width: $breakpoint-tablet) {
        width: 66px;
        height: 22px;
      }
      @media screen and (max-width: $breakpoint-mobile) {
        width: 60px;
        height: 20px;
      }
    }
  }

  .utils {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: -10px;

    .kgc_btn {
      position: relative;
      z-index: 999;
      a {
        display: inline-block;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.43;
        letter-spacing: -0.28px;
        color: #000;
      }

      @media screen and (max-width: $breakpoint-desktop) {
        display: none;
      }
    }

    .langs {
      position: relative;
      z-index: 999;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0;
      display: flex;
      align-items: center;
      @media screen and (max-width: $breakpoint-tablet) {
        display: none;
      }

      .lang-selector {
        position: relative;
        .current {
          display: block;
          position: relative;
          &:before {
            background: url(../../img/icon/lang.svg) 50% 50% no-repeat;
            background-size: 16px 16px;
            width: 16px;
            height: 16px;
            content: '';
            @include center_y();
            left: -24px;
          }
        }

        &.open {
          .others {
            opacity: 1;
            visibility: visible;
            z-index: auto;
          }
        }
        .others {
          text-align: center;
          border: solid 1px #000000;
          background-color: #ffffff;
          @include center_x();
          padding: 7px 0;
          top: -18px;
          opacity: 0;
          visibility: hidden;
          z-index: -1;
          transition: all 200ms ease;
          word-break: keep-all;
          a {
            display: block;
            padding: 7px 22px;
            span {
              display: inline-block;
              position: relative;
              line-height: 20px;
            }

            &.active {
              span {
                &:after {
                  height: 1px;
                  background: #000;
                  position: absolute;
                  left: 0;
                  width: 100%;
                  bottom: -2px;
                  content: '';
                }
              }
            }
          }
        }
      }
    }

    .split {
      margin: 0 16px 0 24px;
      width: 1px;
      height: 14px;
      background-color: #cccccc;
      @media screen and (max-width: $breakpoint-tablet) {
        display: none;
      }

      &.leftSide {
        margin: 0 48px 0 24px;

        @media screen and (max-width: $breakpoint-desktop) {
          display: none;
        }
      }
    }

    .search {
      a {
        display: block;
        width: 40px;
        height: 40px;
        background: url(../../img/icon/search.svg) 50% 50%  no-repeat;
        background-size: 24px auto;
        text-indent: -999em;
        overflow: hidden;
        @media screen and (max-width: $breakpoint-tablet) {
          background: url(../../img/icon/m_ico_search.svg) 50% 50%  no-repeat;
          background-size: 20px auto;
        }
      }

      &.active {
        a {
          background: url(../../img/icon/ico_search_close.svg) 50% 50%  no-repeat;
          @media screen and (max-width: $breakpoint-tablet) {
            background: url(../../img/icon/btn-close.svg) 50% 50%  no-repeat;
            background-size: 40px auto;

          }
        }
      }
    }

    .search-panel{
      display: none;
      position: absolute;
      top:100px;
      left:0;
      z-index: 7;
      width:100%;
      background:#fff;

      &::after{
        content: '';
        display: block;
        position: absolute;
        top:-1px;
        left:0;
        z-index: 7;
        width:100%;
        height:1px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }
      @media screen and (max-width: $breakpoint-tablet) {
        top:82px;
      }
      @media screen and (max-width: $breakpoint-mobile) {
        top:74px;
      }


      .inner {
        transition: opacity .7s;
        opacity: 0;
        width: 1000px;
        margin:0 auto;
        padding:105px 0 100px 0;
        box-sizing: border-box;
        @media screen and (max-width: $breakpoint-desktop) {
          width: 760px;
          padding:80px 0;
        }
        @media screen and (max-width: $breakpoint-tablet) {
          width: 100%;
          // padding:90px 45px;
          padding: 90px 6.93333vw;
        }
        @media screen and (max-width: $breakpoint-mobile) {
          width: 100%;
          // padding:70px 26px;
          padding: 70px 5.98958vw;
        }

        .search_form {
          width:100%;
          .input_box {
            float:none;
            width: 100%;
            border-bottom: 2px solid #000;
            input {
              display: block;
              width:100%;
              font-family: 'Minguk';
              font-size: 26px;
              font-weight: 900;

              &::placeholder{
                color: #000;
              }

              @media screen and (max-width: $breakpoint-desktop) {
                font-size: 22px;
              }
              @media screen and (max-width: $breakpoint-mobile) {
                font-size: 18px;
              }
            }
          }



          .keyword-box {
            text-align: center;
            h3{
              font-size: 16px;
              line-height: 1;
              color: #666666;

              margin-top:70px;
              // margin-bottom:22px;
              margin-bottom: 32px;
              letter-spacing: -0.0325em ;
              @media screen and (max-width: $breakpoint-desktop) {
                margin-top:60px;
                // margin-bottom:20px;
                margin-bottom: 28px;
              }
              @media screen and (max-width: $breakpoint-tablet) {
                margin-top:60px;
                // margin-bottom:18px;
                margin-bottom: 26px;
                font-size: 13px;
              }
              @media screen and (max-width: $breakpoint-mobile) {
                margin-top:50px;
                // margin-bottom:18px;
                margin-bottom: 26px;
              }
            }

            .keyword-list{
              li {
                font-size: 26px;
                color: #000;
                padding:9px 0;
                //margin-bottom: 29px;
                &:last-child {
                  //padding-bottom: 0;
                }

                a{
                  letter-spacing: -0.52px;
                  outline: none;
                }
                @media screen and (max-width: $breakpoint-desktop) {
                  font-size: 22px;
                }
                @media screen and (max-width: $breakpoint-tablet) {
                  font-size: 22px;

                  a{
                    letter-spacing: -0.44px;
                    outline: none;
                  }
                }
                @media screen and (max-width: $breakpoint-mobile) {
                  font-size: 18px;
                }
              }
            }

          }
        }

      }
    }
  }


  .header-sub {

    @media screen and (max-width: $breakpoint-mobile) {
      overflow: auto;
    }

    .breadcrumbs {
      width: 0px;
      white-space: nowrap;
      color: #666666;
      font-size: 13px;

      @media screen and (max-width: $breakpoint-mobile) {
        display: none;
      }
      a {
        color: #666666;
      }
      .split {
        opacity: .5;
      }
      ul {
        display: flex;
        li {
          margin-right: 8px;
          &:last-child {
            margi-right: 0 !important;
          }
        }
      }
    }
    .product-menu {
      margin-left: auto;
      margin-right: auto;
      font-size: 15px;

      @media screen and (max-width: $breakpoint-tablet) {
        margin-right: 0;
      }

      @media screen and (max-width: $breakpoint-mobile) {
        margin-left: auto;
        white-space: nowrap;
      }

      ul {
        display: flex;

        li {
          margin-right: 40px;
          @media screen and (max-width: $breakpoint-tablet) {
            margin-right: 26px;
          }
          &:last-child {
            margin-right: 0 !important;
          }

          a {
            display: block;
            position: relative;
            font-size: 15px;
            font-weight: 500;
            @media screen and (max-width: $breakpoint-tablet) {
              font-size: 14px;
            }

            &:after {
              position: absolute;
              height: 1px;
              background: #000;
              left: 0;
              content: '';
              bottom: -.5em;
              width: 0;
              transition: width 300ms ease;
            }
          }
          &:hover,
          &.active {
            a {
              &:after {
                width: 100%;
              }
            }
          }
          &.active.hide a:after{
            width: 0;
          }
        }
      }
    }
  }



  .btn-toggle-menu {
    width: 40px;
    height: 40px;
    margin-left: 8px;
    position: relative;
    text-indent: -999em;
    overflow: hidden;
    display: none;

    @media screen and (max-width: $breakpoint-tablet) {
      display: block;
    }

    span {
      display: block;
      background: #000;
      width: 20px;
      height: 2px;
      position:absolute;
      top:50%;
      left:50%;
      margin-top:-1px;
      transform: translateX(-50%);
      // @include center_xy();

      transition: width 300ms $easeOutQuart;
      &:before,
      &:after {
        content: '';
        display: block;
        background: #000;
        width: 20px;
        height: 2px;
        position:absolute;
        top: -6px;
        left:50%;
        transform: translateX(-50%);
        // @include center_x();
        transform-origin: 50% 50%;
        transition: all 300ms $easeOutQuart;
      }

      &:after {
        top: 6px;
      }
    }


  }



  &.nav-open {

    .btn-toggle-menu {
      span {
        width: 0px;
        &:before {
          transform: translateX(-50%) rotate(45deg);
          top: 0;
        }

        &:after {
          transform: translateX(-50%) rotate(-45deg);
          top: 0;
        }
      }
    }
  }

  // 언어 선택 버튼
  .cn_lang,
  .kr_lang{
    font-size:14px;
    @media screen and (max-width: $breakpoint-tablet) {
      font-size: 15px;
    }
  }
  .kr_lang{
    font-family: 'Noto Sans KR', sans-serif;
  }
  .cn_lang{
    font-family: 'NotoSansCJKsc', sans-serif;
  }
  .en_lang{
    font-family: 'CeraPro';
    font-size: 15px;
    @media screen and (max-width: $breakpoint-tablet) {
      font-size: 16px;
    }
  }

  // 마우스 호버 효과
  .hover-effect {
    >li{
      >*{
        // transition:opacity .4s;
        //  opacity: 0.4;
        &,img,p{
          transition:opacity .4s;
        }
      }
      &.active>*{
        // opacity: 1;
        &,img,p{
          opacity: 0.4;
        }
      }
    }
  }

  .hover-effect2 {
    >li>a{
      >*{
        // transition:opacity .4s;
        //  opacity: 0.4;
        transition:opacity .4s;
      }
      &.active>*{
        // opacity: 1;
        opacity: 0.4;
      }
    }
  }


}

