/*
|----------------------------------|
 v.0.1 (선미) 최초 작업 -- 2021.08.24
|----------------------------------|
*/
table {
  background-color: $bg-ffffff;

  &.table {
    thead, tbody, tfoot, tr, td, th {
      border: 0;
    }
    /*포인트배경색상*/
    .table-bg{
      background-color: $bg-f5f8fb;
    }

    /*기본테이블*/
    thead {
      border-top: 1px solid $line-000000;
      background: $bg-f7f7f7;

      tr {
        border-bottom: 1px solid $line-d9d9d9;
        /*
        >:first-of-type{
          padding-left: 60px;
        }
        >:last-of-type{
          padding-right: 60px;
        }
        */

        th {
          text-align: center;
          vertical-align: middle;
          padding: 25px 30px 24px;
          line-height: 30px;
          font-weight: bold;
          font-size: 18px;

          &.sub-title {
            font-weight: 500;
            font-size: 16px;
          }
          span {
            font-weight: 400;
            &.additional{
              display: block;
              color: $gray-707070;
              font-size: 16px;

            }
          }
        }
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid $line-d9d9d9;
        th{
          border-top: 1px solid $line-000000;
          background: $bg-f7f7f7;
        }

        td {
          color: $gray-666666;
          text-align: center;
          vertical-align: middle;
          padding: 25px 30px 24px;
          line-height: 30px;
          font-weight: normal;
          .list-style{
            li{
              position: relative;
              &:before{
                clear: both;
                display: inline-block;
                content: '';
                width: 4px;
                height: 1px;
                position: absolute;
                left: -10px;
                top:50%;
                background-color: $gray-707070;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }

    /*가로형 테이블*/
    &.table-row{
      tbody{
        tr{
          th{
            border-top: none;
            vertical-align: middle;
            padding: 25px 30px 24px;
            line-height: 30px;
            font-weight: bold;
            font-size: 18px;
          }
          &:first-of-type{
            border-top: 1px solid $line-000000;
          }
        }
      }

    }

  }
}

/*
.table {
  thead {
    tr {
      th {
        text-align: center;
        border-width: 1px;
        background: #fcfcfc;
        vertical-align: middle;
        padding: 10px 0.75rem;
        font-weight: normal;
        font-size: 15px;
      }
    }
  }

  tbody {
    tr {
      th {
        padding-left: 20px;
        background: #f0f3f8;
        border-bottom: 1px solid #e0e0e0;
        border-right: 1px solid $border-color;
        font-size: 15px;
      }

      td {
        border-bottom: 1px solid #e0e0e0;
        vertical-align: middle;
        padding: 15px 0.75rem;
        font-size: 14px;
        text-align: left;
        color: #666;

        &.title {
          text-align: left;
          padding-left: 30px;
          font-size: 15px;

          .title_gongi {
            max-width: 420px; !*430px 에서 수정([게시글 수 떨어짐]*!
            font-weight: $font-weight-normal;
            vertical-align: middle;

            .bg{
              opacity: 0.67;
              background-color: #418ac9;
              color: #fff;
              line-height: 20px;
              height: 20px;
              font-weight: 350;
              padding: 0 2px;
            }

            .text-primary {
              margin-right: 10px;
              font-weight: $font-weight-bold;
            }
          }
        }
        .no-data{
          padding:65px 40px ;
        }
      }
    }
  }

  .text-center{
    text-align: center;
  }
  &.text-align-center {
    tbody {
      td {
        text-align: center;
      }
    }
  }

  &.flat-row {
    margin-bottom: 20px;

    th {
      padding: 9px 5px;
    }

    td {
      padding: 9px 5px;

      &.title {
        padding-left: 0;
      }
    }
  }
}*/
