/*
|----------------------------------|
 v.0.1 선미 : 최초 작업 -- 2021.08.31
|----------------------------------|
*/
table {
  background-color: $bg-ffffff;

  &.table {
    thead, tbody, tfoot, tr, td, th {
      border: 0;
    }
    /*포인트배경색상*/
    .table-bg{
      background-color: $bg-f5f8fb;
    }

    /*기본테이블*/
    thead {
      border-top: 1px solid $line-000000;
      background-color: $bg-f7f7f7;
    }
    tr {
      border-bottom: 1px solid $line-d9d9d9;
      >:first-of-type{
        padding-left: 60px;
      }
      >:last-of-type{
        padding-right: 60px;
      }

      th {
        text-align: center;
        vertical-align: middle;
        padding: 20px 30px;
        line-height: 30px;
        font-weight: bold;
        font-size: 18px;

        &.sub-title {
          font-weight: 500;
          font-size: 16px;
        }
        span {
          font-weight: 400;
          &.additional{
            display: block;
            color: $gray-707070;
            font-size: 16px;

          }
        }
      }
    }


    tbody {
      tr {
        border-bottom: 1px solid $line-d9d9d9;
        >:first-of-type{
          padding-left: 60px;
        }
        >:last-of-type{
          padding-right: 60px;
        }

        th{
          border-top: 1px solid $line-000000;
          background-color: $bg-f7f7f7;
        }

        td {
          color: $gray-666666;
          text-align: center;
          vertical-align: middle;
          padding: 25px 30px 24px;
          line-height: 30px;
          font-weight: normal;
          .list-style{
            li{
              position: relative;
              &:before{
                clear: both;
                display: inline-block;
                content: '';
                width: 4px;
                height: 1px;
                position: absolute;
                left: -10px;
                top:50%;
                background-color: $gray-707070;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }


    /*가로형 테이블*/
    &.table-row{
      tbody{
        tr{
          th{
            border-top: none;
            vertical-align: middle;
            padding: 25px 30px 24px;
            line-height: 30px;
            font-weight: bold;
            font-size: 18px;
          }
          &:first-of-type{
            border-top: 1px solid $line-000000;
          }
        }
      }

    }
  }
}
