/*
|----------------------------------|
 v.0.1 (주연) 최초 작업 -- 2021.08.19
|----------------------------------|
*/
@import "variables";

.font-ko {
  font-family: $font-ko;

  &.font-medium {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
  }

  &.font-bold {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
  }
}
.font-en {
  font-family: $font-en;

  &.font-medium {
    font-family: 'Proxima Nova Medium';
    font-weight: 500;
  }

  &.font-bold {
    font-family: 'Proxima Nova Bold';
    font-weight: bold;
  }
}
