/*
|----------------------------------|
 v.0.1 (주연) 최초 작업 -- 2021.08.19
|----------------------------------|
*/

$white: #ffffff;
$black: #000000;
$primary: #418ac9;
$orange: #ff7e00;
$red: #ff6652;

$body-color: $black !default;

$link-hover-decoration: none !default;
$link-decoration: none !default;

//$spacer : 3rem;

$font-family-base : 'Noto Sans KR' !default;
$font-family-sans-serif: $font-family-base, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

//$font-ko : 'Noto Sans KR';
//$font-en : 'Proxima Nova';