<div class="modal gnb" tabindex="-1" id="gnb" data-bs-backdrop="static" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="gnb-content">
            <div class="gnb-header">
                <h2 class="logo"><a href="#">마크로젠 로고</a></h2>
                <a href="#" class="btn-close-black" data-bs-dismiss="modal" aria-label="Close"><span class="sr-only">닫기</span></a>
            </div>
            <div class="gnb-body" id="menu">
                <ul>
                    <li><a href="#none">MACROGEN</a>
                        <ul>
                            <li><a href="#none">- Company</a>
                                <ul>
                                    <li><a href="#none">- About  MACROGEN</a></li>
                                    <li><a href="#none">- Executive Leadership </a></li>
                                    <li><a href="#none">- History</a></li>
                                    <li><a href="#none">- Vision</a></li>
                                    <li><a href="#none">- Certification & Accreditation</a></li>
                                </ul>
                            </li>
                            <li><a href="#none">- Global Network</a></li>
                            <!--<li><a href="#none">- 채용</a>
                                <ul>
                                    <li><a href="#none">- 인재상</a></li>
                                    <li><a href="#none">- 인사제도</a></li>
                                    <li><a href="#none">- 채용안내</a></li>
                                </ul>
                            </li>-->
                        </ul>
                    </li>
                    <li><a href="#none">business</a>
                        <ul>
                            <li><a href="#none">- Research</a>
                                <ul>
                                    <li><a href="#none">- NGS</a></li>
                                    <li><a href="#none">- CES</a></li>
                                    <li><a href="#none">- Gene Sythesis</a></li>
                                    <li><a href="#none">- Oligo</a></li>
                                    <li><a href="#none">- Microarray</a></li>
                                    <li><a href="#none">- GEM</a></li>
                                </ul>
                            </li>
                            <li><a href="#none">- Clinical Diagnostics</a>
                                <ul>
                                    <li><a href="#none">- Cancer Genome Testing</a></li>
                                    <li><a href="#none">- Genetic Disorder</a></li>
                                    <li><a href="#none">- COVID-19</a></li>
                                </ul>
                            </li>
                            <li><a href="#none">- Heathcare</a>
                                <ul>
                                    <li><a href="#none">- Personal Genome Analysis</a></li>
                                    <li><a href="#none">- Microbiome Analysis</a></li>
                                    <li><a href="#none">- Pet DNA Test</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#none">r&d</a>
                        <ul>
                            <li><a href="#none">- Precision Medicine Institute</a></li>
                            <li><a href="#none">- Bioinformatics Institute</a></li>
                            <li><a href="#none">- The Biome Institute </a></li>
                            <li><a href="#none">- SyncGenes Institute</a></li>
                            <li><a href="#none">- Big Data Institute for Health</a></li>
                            <li><a href="#none">- Patents/Papers</a></li>
                        </ul>
                    </li>
                    <li><a href="#none">NEWSROOM</a>
                        <ul>
                            <li><a href="#none">- News</a></li>
                            <li><a href="#none">- Media library</a></li>
                            <li><a href="#none">- Notice</a></li>
                        </ul>
                    </li>
                    <li><a href="#none">ir</a>
                        <ul>
                            <li><a href="#none">- Financial Information</a></li>
                            <li><a href="#none">- Investment Inquiries</a></li>
                        </ul>
                    </li>
                    <li><a href="#none">esg</a>
                        <ul>
                            <li><a href="#none">- ESG Management</a></li>
                            <li><a href="#none">- Ethical Management</a></li>
                            <li><a href="#none">- Social Responsibility</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="gnb-footer">
                <a href="#" class="btn-lang on">K0R</a>
                <a href="#" class="btn-lang">ENG</a>
            </div>
            </div>
        </div>
    </div>
</div>
<script>
    // gnb show
    var gnbEl = document.getElementById('gnb')
    var gnb = new bootstrap.Modal(gnbEl);

    // gnb.show();

    // gnb menu
    (function ($) {
        var gnbSet = {
            click: function (target, speed) {
                var _self = this, $target = $(target);
                _self.speed = speed || 300;
                $target.each(function () {
                    if (findChildren($(this))) {
                        return;
                    }
                    $(this).addClass('noDepth');
                });

                function findChildren(obj) {
                    return obj.find('> ul').length > 0;
                }

                $target.on('click', 'a', function (e) {
                    e.stopPropagation();
                    var $this = $(this), $depthTarget = $this.next(), $siblings = $this.parent().siblings();
                    $this.parent('li').find('ul li').removeClass('on');
                    $siblings.removeClass('on');
                    $siblings.find('ul').slideUp(250);
                    if ($depthTarget.css('display') == 'none') {
                        _self.activeOn($this);
                        $depthTarget.slideDown(_self.speed);
                    } else {
                        $depthTarget.slideUp(_self.speed);
                        _self.activeOff($this);
                    }
                })
            }, activeOff: function ($target) {
                $target.parent().removeClass('on');
            }, activeOn: function ($target) {
                $target.parent().addClass('on');
            }
        };
        $(function () {
            gnbSet.click('#menu li', 300)
        });
    }(jQuery));

    // btn-lang
    $('.btn-lang').on('click',function (){
        $(this).addClass('on').siblings().removeClass('on')
    })
</script>
