<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="Referrer" content="origin"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="macrogen"/>
    <meta name="robots" content="index,nofollow"/>
    <meta name="description" content="macrogen"/>
    <meta name="keywords" content="macrogen"/>
    <link rel="shortcut icon" href="../../img/favicon/favicon.ico">
    <link type="text/css" rel="stylesheet" href="../../css/macrogen_component_mobile.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/macrogen_page_mobile_ko.css"/>
    <script src="../../js/bundle.js"></script>
    <![if !IE]>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <![endif]>
    <script nomodule>window.MSInputMethodContext && document.documentMode && document.write('<link rel="stylesheet" href="../../css/bootstrap-ie11.css"><script src="https://cdn.jsdelivr.net/combine/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js,npm/ie11-custom-properties@4,npm/element-qsa-scope@1"><\/script><script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default%2CNumber.parseInt%2CNumber.parseFloat%2CArray.prototype.find%2CArray.prototype.includes"><\/script>');</script>
    <script src="../../js/common.js"></script>
    <title>MACROGEN MOBILE</title>
</head>
